.about-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.about-card-wrapper {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
}

@media only screen and (max-width:500px) {
    .about-grid {
        flex-direction: column;
    }
}