FORMAT: 1A
HOST: http://gamingdb.info/api

# VGDB

Video Game Database for UT Austin SWE IDB project

## Games Collection [/game]

### List Games [GET]

+ Response 200 (application/json)

        {
          "num_results": 1000, 
          "objects": [
            {
              "characters": [], 
              "description": "Go behind enemy lines to forge your army, conquer Fortresses and dominate Mordor from within. Experience how the award winning Nemesis System creates unique personal stories with every enemy and follower, and confront the full power of the Dark Lord Sauron and his Ringwraiths in this epic new story of Middle-earth.", 
              "developers": [
                {
                  "average_rating": null, 
                  "description": "Monolith is a premier developer of video games based in Kirkland, Washington. Founded in 1994, and have a rich history of creating deeply engaging gaming experiences. \n \nThey are known for the creation of Shadow of Mordor and it's Nemesis System. As well as Condemned: Criminal Origins and Condemned 2: Bloodshot.", 
                  "developer_id": 102, 
                  "image_url": "http://images.igdb.com/igdb/image/upload/zrzmif02z6vumlidwulb.jpg", 
                  "location": "United States", 
                  "name": "Monolith Productions", 
                  "website": "http://www.lith.com"
                }, 
                {
                  "average_rating": null, 
                  "description": "WB Games, also known as Warner Bros. Interactive Entertainment, is a division of Warner Bros. Most notably known for their Batman, Injustice, Middle-earth, Mortal Kombat, and LEGO games.", 
                  "developer_id": 583, 
                  "image_url": "http://images.igdb.com/igdb/image/upload/g9tnegvapwh3rr78xhjd.jpg", 
                  "location": "United States", 
                  "name": "WB Games", 
                  "website": "https://community.wbgames.com"
                }
              ], 
              "game_id": 1, 
              "genres": [], 
              "image_url": "http://images.igdb.com/igdb/image/upload/xjqnuckrivp1iwvpneh5.jpg", 
              "platforms": [
                {
                  "description": "Windows XP, the successor to Windows 2000 and Windows ME, was the first consumer-oriented operating system produced by Microsoft to be built on the Windows NT kernel. Windows XP was released worldwide for retail sale on October 25, 2001, and over 400 million copies were in use in January 2006", 
                  "image_url": "http://images.igdb.com/igdb/image/upload/e9w12ei09dljpsiwz7pv.jpg", 
                  "name": "PC (Microsoft Windows)", 
                  "platform_id": 4, 
                  "release_date": "2001-10-25", 
                  "website": "http://windows.microsoft.com/"
                }, 
                {
                  "description": "The PlayStation 4 system opens the door to an incredible journey through immersive new gaming worlds and a deeply connected gaming community. PS4 puts gamers first with an astounding launch line-up and over 180 games in development. Play amazing top-tier blockbusters and innovative indie hits on PS4. Developer inspired, gamer focused.", 
                  "image_url": "http://images.igdb.com/igdb/image/upload/bbxmfqkffgiwtkpsqlkz.jpg", 
                  "name": "PlayStation 4", 
                  "platform_id": 40, 
                  "release_date": "2013-11-15", 
                  "website": "http://www.playstation.com/ps4/"
                }, 
                {
                  "description": null, 
                  "image_url": null, 
                  "name": "Xbox One", 
                  "platform_id": 41, 
                  "release_date": "2013-11-22", 
                  "website": "http://www.xbox.com/en-US/xbox-one"
                }
              ], 
              "rating": 68.9692856988252, 
              "related_game_ids": [
                5, 
                9, 
                27
              ], 
              "release_date": "2017-10-10", 
              "screenshot_urls": [
                "http://images.igdb.com/igdb/image/upload/qfxnxpyj7dnjfxcfbhvg.jpg", 
                "http://images.igdb.com/igdb/image/upload/qrkvefuadtvpg5hbop5y.jpg", 
                "http://images.igdb.com/igdb/image/upload/d5olq3gfovwdm8kifmav.jpg", 
                "http://images.igdb.com/igdb/image/upload/bgrkid38ifj8szgdx9y8.jpg", 
                "http://images.igdb.com/igdb/image/upload/lcak6gdsite8tqdhtawh.jpg"
              ], 
              "title": "Middle-earth: Shadow of War"
            }, 
            {
              "characters": [], 
              "description": "Powered by Frostbite\u2122,\u00a0EA SPORTS\u2122 FIFA 18\u00a0blurs the line between the virtual and real worlds, bringing to life the players, teams, and atmospheres that immerse you in the emotion of The World\u2019s Game. The biggest step in gameplay innovation in franchise history,\u00a0FIFA 18\u00a0introduces\u00a0Real Player Motion Technology, an all-new animation system which unlocks a new level of responsiveness, and player personality \u2013 now Cristiano Ronaldo and other top players feel and move exactly like they do on the real pitch.\u00a0Player Control\u00a0combined with new\u00a0Team Styles and Positioning\u00a0give you the tools to deliver\u00a0Dramatic Moments\u00a0that ignite Immersive Atmospheres\u00a0around the world. The World\u2019s Game also takes you on a global journey as Alex\u00a0Hunter\u00a0Returns\u00a0along with a star-studded cast of characters, including Cristiano Ronaldo and other European football stars. And in FIFA Ultimate Team\u2122,\u00a0FUT ICONS,\u00a0featuring Ronaldo Naz\u00e1rio and other football legends, are coming to\u00a0FIFA 18\u00a0on PlayStation 4, Xbox One, and PC when the game launches on September 29, 2017.", 
              "developers": [
                {
                  "average_rating": null, 
                  "description": null, 
                  "developer_id": 380, 
                  "image_url": null, 
                  "location": null, 
                  "name": "EA Romania", 
                  "website": null
                }, 
                {
                  "average_rating": null, 
                  "description": null, 
                  "developer_id": 621, 
                  "image_url": "http://images.igdb.com/igdb/image/upload/kvwdwqlfil9idhttewhi.jpg", 
                  "location": "Canada", 
                  "name": "EA Sports", 
                  "website": "http://www.easports.com/"
                }
              ], 
              "game_id": 2, 
              "genres": [], 
              "image_url": "http://images.igdb.com/igdb/image/upload/sdvrxyue8h4vg3ojihfb.jpg", 
              "platforms": [
                {
                  "description": "Windows XP, the successor to Windows 2000 and Windows ME, was the first consumer-oriented operating system produced by Microsoft to be built on the Windows NT kernel. Windows XP was released worldwide for retail sale on October 25, 2001, and over 400 million copies were in use in January 2006", 
                  "image_url": "http://images.igdb.com/igdb/image/upload/e9w12ei09dljpsiwz7pv.jpg", 
                  "name": "PC (Microsoft Windows)", 
                  "platform_id": 4, 
                  "release_date": "2001-10-25", 
                  "website": "http://windows.microsoft.com/"
                }, 
                {
                  "description": "The PlayStation 4 system opens the door to an incredible journey through immersive new gaming worlds and a deeply connected gaming community. PS4 puts gamers first with an astounding launch line-up and over 180 games in development. Play amazing top-tier blockbusters and innovative indie hits on PS4. Developer inspired, gamer focused.", 
                  "image_url": "http://images.igdb.com/igdb/image/upload/bbxmfqkffgiwtkpsqlkz.jpg", 
                  "name": "PlayStation 4", 
                  "platform_id": 40, 
                  "release_date": "2013-11-15", 
                  "website": "http://www.playstation.com/ps4/"
                }, 
                {
                  "description": null, 
                  "image_url": null, 
                  "name": "Xbox One", 
                  "platform_id": 41, 
                  "release_date": "2013-11-22", 
                  "website": "http://www.xbox.com/en-US/xbox-one"
                }, 
                {
                  "description": "Nintendo Switch is a hybrid console/tablet. The tablet becomes a console via a docking station connected to a tv set. Nintendo regards the concept as mainly a home gaming system rather than portable. The Switch features two wireless controllers, which may be used individually or attached to a grip to get a more traditional controller.", 
                  "image_url": "http://images.igdb.com/igdb/image/upload/zj5x8hozy4fatoqk37nn.jpg", 
                  "name": "Nintendo Switch", 
                  "platform_id": 118, 
                  "release_date": "2017-03-03", 
                  "website": "http://www.nintendo.com/switch"
                }
              ], 
              "rating": 46.5761714219861, 
              "related_game_ids": [
                19, 
                27, 
                11
              ], 
              "release_date": "2017-09-29", 
              "screenshot_urls": [
                "http://images.igdb.com/igdb/image/upload/itcqu52hmcb9nrzmy4kl.jpg", 
                "http://images.igdb.com/igdb/image/upload/smlr8qcw90ltwf42hox4.jpg", 
                "http://images.igdb.com/igdb/image/upload/vvr9jxar3y5kqpwcnnau.jpg"
              ], 
              "title": "FIFA 18"
            }, 
            {
              "characters": [], 
              "description": "Call of Duty: WWII creates the definitive World War II next generation experience across three different game modes: Campaign, Multiplayer, and Co-Operative. Featuring stunning visuals, the Campaign transports players to the European theater as they engage in an all-new Call of Duty story set in iconic World War II battles. Multiplayer marks a return to original, boots-on-the ground Call of Duty gameplay. Authentic weapons and traditional run-and-gun action immerse you in a vast array of World War II-themed locations. The Co-Operative mode unleashes a new and original story in a standalone game experience full of unexpected, adrenaline-pumping moments.", 
              "developers": [
                {
                  "average_rating": null, 
                  "description": "For more than 30 years, Activision has been changing the way people play.  In the process, we have built one of the largest portfolios of recognized brands and today we are one of the most valuable interactive entertainment companies in the world.\n\nFounded in 1979 as the first independent video game software developer and distributor, the company launched a series of multi-million unit selling titles in the early 1980s for the Atari 2600 including Pitfall, Kaboom! and River Raid.   And since then, Activision has created some of the most iconic and memorable game experiences of all time.", 
                  "developer_id": 95, 
                  "image_url": "http://images.igdb.com/igdb/image/upload/i7pmwdmzp21xrceoqmlc.jpg", 
                  "location": "United States", 
                  "name": "Activision", 
                  "website": "http://www.activision.com/"
                }, 
                {
                  "average_rating": null, 
                  "description": null, 
                  "developer_id": 819, 
                  "image_url": "http://images.igdb.com/igdb/image/upload/vpgiijnbfliyvg5fsxrh.jpg", 
                  "location": "United States", 
                  "name": "Sledgehammer Games", 
                  "website": "http://www.sledgehammergames.com/"
                }
              ], 
              "game_id": 3, 
              "genres": [], 
              "image_url": "http://images.igdb.com/igdb/image/upload/e7vzqpimo6pwovewqqli.jpg", 
              "platforms": [
                {
                  "description": "Windows XP, the successor to Windows 2000 and Windows ME, was the first consumer-oriented operating system produced by Microsoft to be built on the Windows NT kernel. Windows XP was released worldwide for retail sale on October 25, 2001, and over 400 million copies were in use in January 2006", 
                  "image_url": "http://images.igdb.com/igdb/image/upload/e9w12ei09dljpsiwz7pv.jpg", 
                  "name": "PC (Microsoft Windows)", 
                  "platform_id": 4, 
                  "release_date": "2001-10-25", 
                  "website": "http://windows.microsoft.com/"
                }, 
                {
                  "description": "The PlayStation 4 system opens the door to an incredible journey through immersive new gaming worlds and a deeply connected gaming community. PS4 puts gamers first with an astounding launch line-up and over 180 games in development. Play amazing top-tier blockbusters and innovative indie hits on PS4. Developer inspired, gamer focused.", 
                  "image_url": "http://images.igdb.com/igdb/image/upload/bbxmfqkffgiwtkpsqlkz.jpg", 
                  "name": "PlayStation 4", 
                  "platform_id": 40, 
                  "release_date": "2013-11-15", 
                  "website": "http://www.playstation.com/ps4/"
                }, 
                {
                  "description": null, 
                  "image_url": null, 
                  "name": "Xbox One", 
                  "platform_id": 41, 
                  "release_date": "2013-11-22", 
                  "website": "http://www.xbox.com/en-US/xbox-one"
                }
              ], 
              "rating": null, 
              "related_game_ids": [
                435, 
                198, 
                422
              ], 
              "release_date": "2017-11-03", 
              "screenshot_urls": [
                "http://images.igdb.com/igdb/image/upload/qslsn7dl1nmjvlidmlc6.jpg", 
                "http://images.igdb.com/igdb/image/upload/o9mbl0rabu0sazsbxiji.jpg", 
                "http://images.igdb.com/igdb/image/upload/vdmxnihoegzdbyahjpat.jpg", 
                "http://images.igdb.com/igdb/image/upload/mno7spxuafapa8ajvixm.jpg", 
                "http://images.igdb.com/igdb/image/upload/zum4prw3m27jsqv2lobq.jpg"
              ], 
              "title": "Call of Duty: WWII"
            }, 
            {
              "characters": [], 
              "description": "The game has Mario leaving the Mushroom Kingdom to reach an unknown open world-like setting, like Super Mario 64 and Super Mario Sunshine.", 
              "developers": [
                {
                  "average_rating": null, 
                  "description": "North American (USA) subsidiary of Nintendo", 
                  "developer_id": 2, 
                  "image_url": "http://images.igdb.com/igdb/image/upload/jpvnk8itwo8sxfusb1oj.jpg", 
                  "location": "United States", 
                  "name": "Nintendo of America", 
                  "website": "http://www.nintendo.com/"
                }, 
                {
                  "average_rating": null, 
                  "description": "*Founded Sept 23 1889, not 1916; however date selector only goes back to 1916.", 
                  "developer_id": 107, 
                  "image_url": "http://images.igdb.com/igdb/image/upload/tglfbjdfbwjs6twvz6ga.jpg", 
                  "location": "Japan", 
                  "name": "Nintendo", 
                  "website": "http://www.nintendo.com/"
                }, 
                {
                  "average_rating": null, 
                  "description": "European Subsidiary of Nintendo", 
                  "developer_id": 618, 
                  "image_url": "http://images.igdb.com/igdb/image/upload/zbm2trlr5zakeyartql6.jpg", 
                  "location": "Germany", 
                  "name": "Nintendo of Europe", 
                  "website": "http://www.nintendo.com/"
                }
              ], 
              "game_id": 4, 
              "genres": [], 
              "image_url": "http://images.igdb.com/igdb/image/upload/r97wvcger1zaqxxbeafs.jpg", 
              "platforms": [
                {
                  "description": "Nintendo Switch is a hybrid console/tablet. The tablet becomes a console via a docking station connected to a tv set. Nintendo regards the concept as mainly a home gaming system rather than portable. The Switch features two wireless controllers, which may be used individually or attached to a grip to get a more traditional controller.", 
                  "image_url": "http://images.igdb.com/igdb/image/upload/zj5x8hozy4fatoqk37nn.jpg", 
                  "name": "Nintendo Switch", 
                  "platform_id": 118, 
                  "release_date": "2017-03-03", 
                  "website": "http://www.nintendo.com/switch"
                }
              ], 
              "rating": null, 
              "related_game_ids": [
                1, 
                9, 
                12
              ], 
              "release_date": "2017-10-27", 
              "screenshot_urls": [
                "http://images.igdb.com/igdb/image/upload/kmbewcsuuytnsxvemltw.jpg", 
                "http://images.igdb.com/igdb/image/upload/q1ydkthtdtozqzw1tr2m.jpg", 
                "http://images.igdb.com/igdb/image/upload/tcgnbkmz7f0tgglfol9m.jpg", 
                "http://images.igdb.com/igdb/image/upload/kcapvog4g7ko1n21x57t.jpg", 
                "http://images.igdb.com/igdb/image/upload/hj3spi7odlvp4pfvnwtv.jpg"
              ], 
              "title": "Super Mario Odyssey"
            }, 
            {
              "characters": [], 
              "description": "For the last four years, the team behind Assassin\u2019s Creed IV Black Flag has been crafting a new beginning for the Assassin\u2019s Creed franchise. \n \nSet in Ancient Egypt, players will journey to the most mysterious place in history, during a crucial period that will shape the world and give rise to the Assassin\u2019s Brotherhood. Plunged into a living, systemic and majestic open world, players are going to discover vibrant ecosystems, made of diverse and exotic landscapes that will provide them with infinite opportunities of pure exploration, adventures and challenges. \n \nPowered by a new fight philosophy, Assassin's Creed Originsembraces a brand new RPG direction where players level up, loot, and choose abilities to shape and customize their very own skilled Assassin as they grow in power and expertise while exploring the entire country of Ancient Egypt.", 
              "developers": [
                {
                  "average_rating": null, 
                  "description": "We are the world\u2019s most important video game development studio, with 2400 dedicated employees. Ezio Auditore, Aiden Pearce, Jason Brody, they were all born and raised in Montreal. The Mile-End neighbourhood where our studio is located, is a huge source of inspiration for the worlds we create. This website is yet another way to show you who we are, why we love our jobs, and what drives us to provide heart-pounding experiences to our players year after year. So whether you\u2019re here to find out more about the people behind your favorite adventures or you\u2019re looking to join our world-class team, you\u2019ve come to the right place!", 
                  "developer_id": 637, 
                  "image_url": "http://images.igdb.com/igdb/image/upload/dnqirbd2bzb5l6rji5ym.jpg", 
                  "location": "Canada", 
                  "name": "Ubisoft Montreal", 
                  "website": "http://montreal.ubisoft.com"
                }, 
                {
                  "average_rating": null, 
                  "description": "When my brothers and I created Ubisoft back in 1986, we started out with a simple motivation: work with passionate people and make fun games. Today, to continue surprising our millions of fans all over the world, we're always on the lookout for new ways to push back the boundaries of creativity and innovation. Beyond simple games, we strive to create immersive and engaging creative worlds that not only offer moments of pure fun, escapism and adventure, but also opportunities for learning and self-discovery. \n \nThe video game industry is constantly evolving, and Ubisoft teams and I are eager to take up the next challenges in store so that you can have even more gaming pleasure.", 
                  "developer_id": 670, 
                  "image_url": "http://images.igdb.com/igdb/image/upload/e9zixjj0ubynloeod6ct.jpg", 
                  "location": "France", 
                  "name": "Ubisoft Entertainment", 
                  "website": "http://www.ubi.com"
                }
              ], 
              "game_id": 5, 
              "genres": [], 
              "image_url": "http://images.igdb.com/igdb/image/upload/l2dza03yjs6j5u6uuak2.jpg", 
              "platforms": [
                {
                  "description": "Windows XP, the successor to Windows 2000 and Windows ME, was the first consumer-oriented operating system produced by Microsoft to be built on the Windows NT kernel. Windows XP was released worldwide for retail sale on October 25, 2001, and over 400 million copies were in use in January 2006", 
                  "image_url": "http://images.igdb.com/igdb/image/upload/e9w12ei09dljpsiwz7pv.jpg", 
                  "name": "PC (Microsoft Windows)", 
                  "platform_id": 4, 
                  "release_date": "2001-10-25", 
                  "website": "http://windows.microsoft.com/"
                }, 
                {
                  "description": "The PlayStation 4 system opens the door to an incredible journey through immersive new gaming worlds and a deeply connected gaming community. PS4 puts gamers first with an astounding launch line-up and over 180 games in development. Play amazing top-tier blockbusters and innovative indie hits on PS4. Developer inspired, gamer focused.", 
                  "image_url": "http://images.igdb.com/igdb/image/upload/bbxmfqkffgiwtkpsqlkz.jpg", 
                  "name": "PlayStation 4", 
                  "platform_id": 40, 
                  "release_date": "2013-11-15", 
                  "website": "http://www.playstation.com/ps4/"
                }, 
                {
                  "description": null, 
                  "image_url": null, 
                  "name": "Xbox One", 
                  "platform_id": 41, 
                  "release_date": "2013-11-22", 
                  "website": "http://www.xbox.com/en-US/xbox-one"
                }
              ], 
              "rating": null, 
              "related_game_ids": [
                1, 
                9, 
                22
              ], 
              "release_date": "2017-10-27", 
              "screenshot_urls": [
                "http://images.igdb.com/igdb/image/upload/giqtb8y4awm9ibt942cn.jpg", 
                "http://images.igdb.com/igdb/image/upload/kzrntwrtrgfyvg4cuftp.jpg", 
                "http://images.igdb.com/igdb/image/upload/yz1dj5y66csdmzhrshw5.jpg", 
                "http://images.igdb.com/igdb/image/upload/k5endasvysdo0bg6lmhw.jpg", 
                "http://images.igdb.com/igdb/image/upload/s3dbzi0r1ifjxu6iyec9.jpg"
              ], 
              "title": "Assassin\u2019s Creed: Origins"
            }, 
            {
              "characters": [], 
              "description": "In Destiny 2, the last safe city on Earth has fallen and lays in ruins, occupied by a powerful new enemy and his elite army, the Red Legion. Every player creates their own character called a \u201cGuardian,\u201d humanity\u2019s chosen protectors. As a Guardian in Destiny 2, players must master new abilities and weapons to reunite the city\u2019s forces, stand together and fight back to reclaim their home.  \n  \nIn Destiny 2 players will answer this call, embarking on a fresh story filled with new destinations around our solar system to explore, and an expansive amount of activities to discover. There is something for almost every type of gamer in Destiny 2, including gameplay for solo, cooperative and competitive players set within a vast, evolving and exciting universe.", 
              "developers": [
                {
                  "average_rating": null, 
                  "description": "For more than 30 years, Activision has been changing the way people play.  In the process, we have built one of the largest portfolios of recognized brands and today we are one of the most valuable interactive entertainment companies in the world.\n\nFounded in 1979 as the first independent video game software developer and distributor, the company launched a series of multi-million unit selling titles in the early 1980s for the Atari 2600 including Pitfall, Kaboom! and River Raid.   And since then, Activision has created some of the most iconic and memorable game experiences of all time.", 
                  "developer_id": 95, 
                  "image_url": "http://images.igdb.com/igdb/image/upload/i7pmwdmzp21xrceoqmlc.jpg", 
                  "location": "United States", 
                  "name": "Activision", 
                  "website": "http://www.activision.com/"
                }, 
                {
                  "average_rating": null, 
                  "description": "Bungie was founded in 1991 with two goals: develop kick ass games that combine state-of-the-art technology with uncompromising art, captivating storytelling, and deep gameplay, and then to sell enough copies to fund their ongoing quest for World Domination. Over the past twenty years, Bungie created a bunch of fun games, including the Halo Franchise, the Marathon Trilogy, and the first two Myth games. Now independent, employee-owned, and located in Bellevue, Washington.", 
                  "developer_id": 328, 
                  "image_url": "http://images.igdb.com/igdb/image/upload/ilbokq37gwre4gwgklii.jpg", 
                  "location": "United States", 
                  "name": "Bungie", 
                  "website": "https://www.bungie.net/"
                }
              ], 
              "game_id": 6, 
              "genres": [], 
              "image_url": "http://images.igdb.com/igdb/image/upload/o1yenovvskchtjrl48v5.jpg", 
              "platforms": [
                {
                  "description": "Windows XP, the successor to Windows 2000 and Windows ME, was the first consumer-oriented operating system produced by Microsoft to be built on the Windows NT kernel. Windows XP was released worldwide for retail sale on October 25, 2001, and over 400 million copies were in use in January 2006", 
                  "image_url": "http://images.igdb.com/igdb/image/upload/e9w12ei09dljpsiwz7pv.jpg", 
                  "name": "PC (Microsoft Windows)", 
                  "platform_id": 4, 
                  "release_date": "2001-10-25", 
                  "website": "http://windows.microsoft.com/"
                }, 
                {
                  "description": "The PlayStation 4 system opens the door to an incredible journey through immersive new gaming worlds and a deeply connected gaming community. PS4 puts gamers first with an astounding launch line-up and over 180 games in development. Play amazing top-tier blockbusters and innovative indie hits on PS4. Developer inspired, gamer focused.", 
                  "image_url": "http://images.igdb.com/igdb/image/upload/bbxmfqkffgiwtkpsqlkz.jpg", 
                  "name": "PlayStation 4", 
                  "platform_id": 40, 
                  "release_date": "2013-11-15", 
                  "website": "http://www.playstation.com/ps4/"
                }, 
                {
                  "description": null, 
                  "image_url": null, 
                  "name": "Xbox One", 
                  "platform_id": 41, 
                  "release_date": "2013-11-22", 
                  "website": "http://www.xbox.com/en-US/xbox-one"
                }
              ], 
              "rating": 80.713202519764, 
              "related_game_ids": [
                216, 
                253, 
                533
              ], 
              "release_date": "2017-09-06", 
              "screenshot_urls": [
                "http://images.igdb.com/igdb/image/upload/nmuz3tmvxva1nqhjaxvn.jpg", 
                "http://images.igdb.com/igdb/image/upload/r3qos1ovmkboaskqmhtp.jpg", 
                "http://images.igdb.com/igdb/image/upload/ymxy2otllrluvcqwnyhk.jpg", 
                "http://images.igdb.com/igdb/image/upload/d0s5upisfnao3h3jdsib.jpg", 
                "http://images.igdb.com/igdb/image/upload/m9mdkmpv1efkc2nmxqlt.jpg"
              ], 
              "title": "Destiny 2"
            }, 
            {
              "characters": [], 
              "description": "This latest entry in 2k Sports WWE series boasts a next generation graphics engine, the largest roster of any WWE game before it with the rosters updated gimmick sets and show stylings to closely resembles the current TV product, and the first WWE 2k only be released on current generation hardware. \n\nSeth Rollins was revealed to be the cover star, and the game's slogan is \"Be Like No One.\"", 
              "developers": [
                {
                  "average_rating": null, 
                  "description": null, 
                  "developer_id": 159, 
                  "image_url": "http://images.igdb.com/igdb/image/upload/glh15cesuwj3ltpdquwo.jpg", 
                  "location": "United States", 
                  "name": "2K Sports", 
                  "website": "http://www.2ksports.com/"
                }, 
                {
                  "average_rating": null, 
                  "description": null, 
                  "developer_id": 445, 
                  "image_url": null, 
                  "location": null, 
                  "name": "Visual Concepts", 
                  "website": null
                }, 
                {
                  "average_rating": null, 
                  "description": "Yuke's Co. Ltd. (also known as Yuke's Future Media Creators) is a Japanese video game developer based in Osaka, Japan. It was established on February 26, 1993 by Yukinori Taniguchi.", 
                  "developer_id": 505, 
                  "image_url": "http://images.igdb.com/igdb/image/upload/ivb5nqnb8nsuemjqpvhg.jpg", 
                  "location": "Japan", 
                  "name": "YUKE'S Co., Ltd.", 
                  "website": "https://www.yukes.co.jp/en/"
                }
              ], 
              "game_id": 7, 
              "genres": [], 
              "image_url": "http://images.igdb.com/igdb/image/upload/qhlafqriozciovqu1hrl.jpg", 
              "platforms": [
                {
                  "description": "Windows XP, the successor to Windows 2000 and Windows ME, was the first consumer-oriented operating system produced by Microsoft to be built on the Windows NT kernel. Windows XP was released worldwide for retail sale on October 25, 2001, and over 400 million copies were in use in January 2006", 
                  "image_url": "http://images.igdb.com/igdb/image/upload/e9w12ei09dljpsiwz7pv.jpg", 
                  "name": "PC (Microsoft Windows)", 
                  "platform_id": 4, 
                  "release_date": "2001-10-25", 
                  "website": "http://windows.microsoft.com/"
                }, 
                {
                  "description": "The PlayStation 4 system opens the door to an incredible journey through immersive new gaming worlds and a deeply connected gaming community. PS4 puts gamers first with an astounding launch line-up and over 180 games in development. Play amazing top-tier blockbusters and innovative indie hits on PS4. Developer inspired, gamer focused.", 
                  "image_url": "http://images.igdb.com/igdb/image/upload/bbxmfqkffgiwtkpsqlkz.jpg", 
                  "name": "PlayStation 4", 
                  "platform_id": 40, 
                  "release_date": "2013-11-15", 
                  "website": "http://www.playstation.com/ps4/"
                }, 
                {
                  "description": null, 
                  "image_url": null, 
                  "name": "Xbox One", 
                  "platform_id": 41, 
                  "release_date": "2013-11-22", 
                  "website": "http://www.xbox.com/en-US/xbox-one"
                }, 
                {
                  "description": "Nintendo Switch is a hybrid console/tablet. The tablet becomes a console via a docking station connected to a tv set. Nintendo regards the concept as mainly a home gaming system rather than portable. The Switch features two wireless controllers, which may be used individually or attached to a grip to get a more traditional controller.", 
                  "image_url": "http://images.igdb.com/igdb/image/upload/zj5x8hozy4fatoqk37nn.jpg", 
                  "name": "Nintendo Switch", 
                  "platform_id": 118, 
                  "release_date": "2017-03-03", 
                  "website": "http://www.nintendo.com/switch"
                }
              ], 
              "rating": 69.2857142857143, 
              "related_game_ids": [
                607, 
                81
              ], 
              "release_date": "2017-10-17", 
              "screenshot_urls": [
                "http://images.igdb.com/igdb/image/upload/wwh2rv7juhpn655f7qtx.jpg", 
                "http://images.igdb.com/igdb/image/upload/acow6dhtcirhast2aa7y.jpg", 
                "http://images.igdb.com/igdb/image/upload/ascq1i0dfbnnmeovda6t.jpg", 
                "http://images.igdb.com/igdb/image/upload/frlgya4oadjjoguqqvmz.jpg", 
                "http://images.igdb.com/igdb/image/upload/dow2dyn2ykkp213v6l4t.jpg"
              ], 
              "title": "WWE 2K18"
            }, 
            {
              "characters": [], 
              "description": "Players will once again assume the role of the New Kid, and join South Park favorites Stan, Kyle, Kenny and Cartman in a new hilarious and outrageous adventure. This time, players will delve into the crime-ridden underbelly of South Park with Coon and Friends. \n \nThis dedicated group of crime fighters was formed by Eric Cartman whose superhero alter-ego, The Coon, is half man, half raccoon. As the New Kid, players will join Mysterion, Toolshed, Human Kite, Mosquito, Mint Berry Crunch and a host of others to battle the forces of evil while Coon strives to make his team the most beloved superheroes in history.", 
              "developers": [
                {
                  "average_rating": null, 
                  "description": null, 
                  "developer_id": 597, 
                  "image_url": "http://images.igdb.com/igdb/image/upload/w0w2d2m3zvu0fmm2ft6a.jpg", 
                  "location": "United States", 
                  "name": "Ubisoft San Francisco", 
                  "website": "https://www.ubisoft.com/en-US/studio/san-francisco.aspx"
                }, 
                {
                  "average_rating": null, 
                  "description": "When my brothers and I created Ubisoft back in 1986, we started out with a simple motivation: work with passionate people and make fun games. Today, to continue surprising our millions of fans all over the world, we're always on the lookout for new ways to push back the boundaries of creativity and innovation. Beyond simple games, we strive to create immersive and engaging creative worlds that not only offer moments of pure fun, escapism and adventure, but also opportunities for learning and self-discovery. \n \nThe video game industry is constantly evolving, and Ubisoft teams and I are eager to take up the next challenges in store so that you can have even more gaming pleasure.", 
                  "developer_id": 670, 
                  "image_url": "http://images.igdb.com/igdb/image/upload/e9zixjj0ubynloeod6ct.jpg", 
                  "location": "France", 
                  "name": "Ubisoft Entertainment", 
                  "website": "http://www.ubi.com"
                }
              ], 
              "game_id": 8, 
              "genres": [], 
              "image_url": "http://images.igdb.com/igdb/image/upload/hs8jyr19xcpzbq4r0dco.jpg", 
              "platforms": [
                {
                  "description": "Windows XP, the successor to Windows 2000 and Windows ME, was the first consumer-oriented operating system produced by Microsoft to be built on the Windows NT kernel. Windows XP was released worldwide for retail sale on October 25, 2001, and over 400 million copies were in use in January 2006", 
                  "image_url": "http://images.igdb.com/igdb/image/upload/e9w12ei09dljpsiwz7pv.jpg", 
                  "name": "PC (Microsoft Windows)", 
                  "platform_id": 4, 
                  "release_date": "2001-10-25", 
                  "website": "http://windows.microsoft.com/"
                }, 
                {
                  "description": "The PlayStation 4 system opens the door to an incredible journey through immersive new gaming worlds and a deeply connected gaming community. PS4 puts gamers first with an astounding launch line-up and over 180 games in development. Play amazing top-tier blockbusters and innovative indie hits on PS4. Developer inspired, gamer focused.", 
                  "image_url": "http://images.igdb.com/igdb/image/upload/bbxmfqkffgiwtkpsqlkz.jpg", 
                  "name": "PlayStation 4", 
                  "platform_id": 40, 
                  "release_date": "2013-11-15", 
                  "website": "http://www.playstation.com/ps4/"
                }, 
                {
                  "description": null, 
                  "image_url": null, 
                  "name": "Xbox One", 
                  "platform_id": 41, 
                  "release_date": "2013-11-22", 
                  "website": "http://www.xbox.com/en-US/xbox-one"
                }
              ], 
              "rating": 84.9285714285714, 
              "related_game_ids": [
                9, 
                44, 
                129
              ], 
              "release_date": "2017-10-17", 
              "screenshot_urls": [
                "http://images.igdb.com/igdb/image/upload/cztu6t51nlxyih6n6hqw.jpg", 
                "http://images.igdb.com/igdb/image/upload/yypcjkiukbigyhbctack.jpg", 
                "http://images.igdb.com/igdb/image/upload/yygxweuverxzutzjgslz.jpg", 
                "http://images.igdb.com/igdb/image/upload/ukoxosilgikxdqhcdnla.jpg", 
                "http://images.igdb.com/igdb/image/upload/scjbky2zwlv9y8ehbgxr.jpg"
              ], 
              "title": "South Park: The Fractured But Whole"
            }
          ], 
          "page": 1, 
          "total_pages": 125
        }

## Games [/game/13]

### Get Game [GET]

+ Response 200 (application/json)

        {
          "characters": [], 
          "description": "Cuphead is a classic run and gun action game heavily focused on boss battles. Inspired by cartoons of the 1930s, the visuals and audio are painstakingly created with the same techniques of the era, i.e. traditional cel animation (hand drawn & hand inked!), watercolor backgrounds, and original jazz recordings. Play as Cuphead or Mugman (in single player or co-op) as you traverse strange worlds, acquire new weapons, learn powerful super moves, and discover hidden secrets. Cuphead is all action, all the time.", 
          "developers": [
            {
              "average_rating": null, 
              "description": "StudioMDHR (Studio Moldenhauer) is an independent video game company founded by two brothers: Chad &amp; Jared Moldenhauer.\nBased in Oakville, ON / Regina, SK", 
              "developer_id": 254, 
              "image_url": "http://images.igdb.com/igdb/image/upload/qrhnhn54o6gepip9oo1y.jpg", 
              "location": "United States", 
              "name": "Studio MDHR", 
              "website": "http://studiomdhr.com/"
            }
          ], 
          "game_id": 13, 
          "genres": [], 
          "image_url": "http://images.igdb.com/igdb/image/upload/gtzfjc9pipa6s7v7m68g.jpg", 
          "platforms": [
            {
              "description": "Windows XP, the successor to Windows 2000 and Windows ME, was the first consumer-oriented operating system produced by Microsoft to be built on the Windows NT kernel. Windows XP was released worldwide for retail sale on October 25, 2001, and over 400 million copies were in use in January 2006", 
              "image_url": "http://images.igdb.com/igdb/image/upload/e9w12ei09dljpsiwz7pv.jpg", 
              "name": "PC (Microsoft Windows)", 
              "platform_id": 4, 
              "release_date": "2001-10-25", 
              "website": "http://windows.microsoft.com/"
            }, 
            {
              "description": null, 
              "image_url": null, 
              "name": "Xbox One", 
              "platform_id": 41, 
              "release_date": "2013-11-22", 
              "website": "http://www.xbox.com/en-US/xbox-one"
            }
          ], 
          "rating": 80.7018744810862, 
          "related_game_ids": [
            103, 
            65, 
            45
          ], 
          "release_date": "2017-09-29", 
          "screenshot_urls": [
            "http://images.igdb.com/igdb/image/upload/sngyjwqwzzlciy0ko0sq.jpg", 
            "http://images.igdb.com/igdb/image/upload/eulkrcocd1zyuvvcv7k0.jpg", 
            "http://images.igdb.com/igdb/image/upload/ec5tsfhl7wjabwjnsshs.jpg", 
            "http://images.igdb.com/igdb/image/upload/r9zt66wdgqohmhuukiir.jpg", 
            "http://images.igdb.com/igdb/image/upload/sqho6e7tv9verg6j1tvv.jpg"
          ], 
          "title": "Cuphead"
        }
        
## Characters Collection [/character]

### List Characters [GET]

+ Response 200 (application/json)

        {
          "num_results": 1217, 
          "objects": [
            {
              "character_id": 1, 
              "games": [
                {
                  "description": "Discover the true meaning of fear in Alien: Isolation, a survival horror set in an atmosphere of constant dread and mortal danger. Fifteen years after the events of Alien\u2122, Ellen Ripley's daughter, Amanda enters a desperate battle for survival, on a mission to unravel the truth behind her mother's disappearance.\n\nAs Amanda, you will navigate through an increasingly volatile world as you find yourself confronted on all sides by a panicked, desperate population and an unpredictable, ruthless Alien.\n\nUnderpowered and underprepared, you must scavenge resources, improvise solutions and use your wits, not just to succeed in your mission, but to simply stay alive.", 
                  "game_id": 476, 
                  "image_url": "http://images.igdb.com/igdb/image/upload/x4c3dpmywrxzjacvvg4i.jpg", 
                  "rating": 86.1145049541196, 
                  "related_game_ids": [
                    10, 
                    14, 
                    65
                  ], 
                  "release_date": "2014-10-07", 
                  "screenshot_urls": [
                    "http://images.igdb.com/igdb/image/upload/dek1ysjlwizlhh0z624o.jpg", 
                    "http://images.igdb.com/igdb/image/upload/bq2xsojs8vvr8hkkpdbn.jpg", 
                    "http://images.igdb.com/igdb/image/upload/o6ybxwgiyeup9evnayzm.jpg", 
                    "http://images.igdb.com/igdb/image/upload/fhx3rlrrnoplghpveooo.jpg", 
                    "http://images.igdb.com/igdb/image/upload/nkvu96w7jyzcbkh0fsmi.jpg"
                  ], 
                  "title": "Alien: Isolation"
                }, 
                {
                  "description": "The Witcher: Wild Hunt is a story-driven, next-generation open world role-playing game set in a visually stunning fantasy universe full of meaningful choices and impactful consequences. In The Witcher you play as the professional monster hunter, Geralt of Rivia, tasked with finding a child of prophecy in a vast open world rich with merchant cities, viking pirate islands, dangerous mountain passes, and forgotten caverns to explore.", 
                  "game_id": 56, 
                  "image_url": "http://images.igdb.com/igdb/image/upload/tri1c6vbydeosoqajwt1.jpg", 
                  "rating": 95.2755861584253, 
                  "related_game_ids": [
                    1, 
                    13, 
                    9
                  ], 
                  "release_date": "2015-05-19", 
                  "screenshot_urls": [
                    "http://images.igdb.com/igdb/image/upload/z5t0yuhyiiui1ickwhgj.jpg", 
                    "http://images.igdb.com/igdb/image/upload/farvemmmxav0bgt6wx7t.jpg", 
                    "http://images.igdb.com/igdb/image/upload/em1y2ugcwy2myuhvb9db.jpg", 
                    "http://images.igdb.com/igdb/image/upload/usxccsncekxg0wd1v6ee.jpg", 
                    "http://images.igdb.com/igdb/image/upload/mnljdjtrh44x4snmierh.jpg"
                  ], 
                  "title": "The Witcher 3: Wild Hunt"
                }
              ], 
              "gender": null, 
              "image_url": null, 
              "name": "Lambert", 
              "platforms": [], 
              "score": null, 
              "species": null, 
              "summary": null
            }, 
            {
              "character_id": 2, 
              "games": [
                {
                  "description": "The second instalment in the RPG saga about the Witcher, Geralt of Rivia, features a thoroughly engrossing, mature storyline defining new standards for thought-provoking, non-linear game narration. In addition to an epic story, the game features an original, brutal combat system that uniquely combines tactical elements with dynamic action. A new, modern game engine, responsible both for beautiful visuals and sophisticated game mechanics puts players in the most lively and believable world ever created in an RPG game. A captivating story, dynamic combat system, beautiful graphics, and everything else that made the original Witcher such a great game are now executed in a much more advanced and sophisticated way.", 
                  "game_id": 579, 
                  "image_url": "http://images.igdb.com/igdb/image/upload/ublei0ylckvite604cge.jpg", 
                  "rating": 87.4563269682642, 
                  "related_game_ids": [
                    33, 
                    1, 
                    24
                  ], 
                  "release_date": "2011-05-17", 
                  "screenshot_urls": [
                    "http://images.igdb.com/igdb/image/upload/fujznpait3vgks1fsf8u.jpg", 
                    "http://images.igdb.com/igdb/image/upload/auslwvtps8woqdd5t0um.jpg", 
                    "http://images.igdb.com/igdb/image/upload/qelsfsxjgnkz5zuvaat4.jpg", 
                    "http://images.igdb.com/igdb/image/upload/few5b8tm9daauwv29opk.jpg", 
                    "http://images.igdb.com/igdb/image/upload/zb5whw2xb13yavuzqhhy.jpg"
                  ], 
                  "title": "The Witcher 2: Assassins of Kings"
                }, 
                {
                  "description": "The Witcher: Wild Hunt is a story-driven, next-generation open world role-playing game set in a visually stunning fantasy universe full of meaningful choices and impactful consequences. In The Witcher you play as the professional monster hunter, Geralt of Rivia, tasked with finding a child of prophecy in a vast open world rich with merchant cities, viking pirate islands, dangerous mountain passes, and forgotten caverns to explore.", 
                  "game_id": 56, 
                  "image_url": "http://images.igdb.com/igdb/image/upload/tri1c6vbydeosoqajwt1.jpg", 
                  "rating": 95.2755861584253, 
                  "related_game_ids": [
                    1, 
                    13, 
                    9
                  ], 
                  "release_date": "2015-05-19", 
                  "screenshot_urls": [
                    "http://images.igdb.com/igdb/image/upload/z5t0yuhyiiui1ickwhgj.jpg", 
                    "http://images.igdb.com/igdb/image/upload/farvemmmxav0bgt6wx7t.jpg", 
                    "http://images.igdb.com/igdb/image/upload/em1y2ugcwy2myuhvb9db.jpg", 
                    "http://images.igdb.com/igdb/image/upload/usxccsncekxg0wd1v6ee.jpg", 
                    "http://images.igdb.com/igdb/image/upload/mnljdjtrh44x4snmierh.jpg"
                  ], 
                  "title": "The Witcher 3: Wild Hunt"
                }
              ], 
              "gender": null, 
              "image_url": null, 
              "name": "Zoltan", 
              "platforms": [], 
              "score": null, 
              "species": null, 
              "summary": null
            }, 
            {
              "character_id": 3, 
              "games": [
                {
                  "description": "There is a rising tide of fear in The City. Hatred saturates every stone and whilst the rich prosper, the less fortunate face misery and repression. Ravaged with sickness and famine, they wait for something to change.\nInto this shadowy world steps Garrett, THE master thief in Thief, a reinvention of a franchise that helped define an entire genre of games. This first-person adventure features intelligent design that allows players to take full control, with freedom to choose their path through the game's levels and how they approach and overcome each challenge.", 
                  "game_id": 553, 
                  "image_url": "http://images.igdb.com/igdb/image/upload/xlmqqfo3l2qco2qmxmel.jpg", 
                  "rating": 67.8199408492586, 
                  "related_game_ids": [
                    78, 
                    42, 
                    754
                  ], 
                  "release_date": "2014-02-25", 
                  "screenshot_urls": [
                    "http://images.igdb.com/igdb/image/upload/mrhprawxqcaidwvhszch.jpg", 
                    "http://images.igdb.com/igdb/image/upload/fnymr7nmagyhaycwkftg.jpg", 
                    "http://images.igdb.com/igdb/image/upload/u9m4lnfpkv3u9sh1ufsw.jpg", 
                    "http://images.igdb.com/igdb/image/upload/sgbhfpclrk5udlowkpyq.jpg", 
                    "http://images.igdb.com/igdb/image/upload/zeqv7lvh8aaemeaa2bhl.jpg"
                  ], 
                  "title": "Thief"
                }, 
                {
                  "description": "The Witcher: Wild Hunt is a story-driven, next-generation open world role-playing game set in a visually stunning fantasy universe full of meaningful choices and impactful consequences. In The Witcher you play as the professional monster hunter, Geralt of Rivia, tasked with finding a child of prophecy in a vast open world rich with merchant cities, viking pirate islands, dangerous mountain passes, and forgotten caverns to explore.", 
                  "game_id": 56, 
                  "image_url": "http://images.igdb.com/igdb/image/upload/tri1c6vbydeosoqajwt1.jpg", 
                  "rating": 95.2755861584253, 
                  "related_game_ids": [
                    1, 
                    13, 
                    9
                  ], 
                  "release_date": "2015-05-19", 
                  "screenshot_urls": [
                    "http://images.igdb.com/igdb/image/upload/z5t0yuhyiiui1ickwhgj.jpg", 
                    "http://images.igdb.com/igdb/image/upload/farvemmmxav0bgt6wx7t.jpg", 
                    "http://images.igdb.com/igdb/image/upload/em1y2ugcwy2myuhvb9db.jpg", 
                    "http://images.igdb.com/igdb/image/upload/usxccsncekxg0wd1v6ee.jpg", 
                    "http://images.igdb.com/igdb/image/upload/mnljdjtrh44x4snmierh.jpg"
                  ], 
                  "title": "The Witcher 3: Wild Hunt"
                }
              ], 
              "gender": null, 
              "image_url": null, 
              "name": "Baron", 
              "platforms": [], 
              "score": null, 
              "species": null, 
              "summary": null
            }, 
            {
              "character_id": 4, 
              "games": [
                {
                  "description": "The Witcher: Wild Hunt is a story-driven, next-generation open world role-playing game set in a visually stunning fantasy universe full of meaningful choices and impactful consequences. In The Witcher you play as the professional monster hunter, Geralt of Rivia, tasked with finding a child of prophecy in a vast open world rich with merchant cities, viking pirate islands, dangerous mountain passes, and forgotten caverns to explore.", 
                  "game_id": 56, 
                  "image_url": "http://images.igdb.com/igdb/image/upload/tri1c6vbydeosoqajwt1.jpg", 
                  "rating": 95.2755861584253, 
                  "related_game_ids": [
                    1, 
                    13, 
                    9
                  ], 
                  "release_date": "2015-05-19", 
                  "screenshot_urls": [
                    "http://images.igdb.com/igdb/image/upload/z5t0yuhyiiui1ickwhgj.jpg", 
                    "http://images.igdb.com/igdb/image/upload/farvemmmxav0bgt6wx7t.jpg", 
                    "http://images.igdb.com/igdb/image/upload/em1y2ugcwy2myuhvb9db.jpg", 
                    "http://images.igdb.com/igdb/image/upload/usxccsncekxg0wd1v6ee.jpg", 
                    "http://images.igdb.com/igdb/image/upload/mnljdjtrh44x4snmierh.jpg"
                  ], 
                  "title": "The Witcher 3: Wild Hunt"
                }
              ], 
              "gender": "Female", 
              "image_url": "http://images.igdb.com/igdb/image/upload/uhyat4iaflnxlzcdfxip.jpg", 
              "name": "Yennefer", 
              "platforms": [], 
              "score": null, 
              "species": "Human", 
              "summary": null
            }, 
            {
              "character_id": 5, 
              "games": [
                {
                  "description": "The Witcher: Wild Hunt is a story-driven, next-generation open world role-playing game set in a visually stunning fantasy universe full of meaningful choices and impactful consequences. In The Witcher you play as the professional monster hunter, Geralt of Rivia, tasked with finding a child of prophecy in a vast open world rich with merchant cities, viking pirate islands, dangerous mountain passes, and forgotten caverns to explore.", 
                  "game_id": 56, 
                  "image_url": "http://images.igdb.com/igdb/image/upload/tri1c6vbydeosoqajwt1.jpg", 
                  "rating": 95.2755861584253, 
                  "related_game_ids": [
                    1, 
                    13, 
                    9
                  ], 
                  "release_date": "2015-05-19", 
                  "screenshot_urls": [
                    "http://images.igdb.com/igdb/image/upload/z5t0yuhyiiui1ickwhgj.jpg", 
                    "http://images.igdb.com/igdb/image/upload/farvemmmxav0bgt6wx7t.jpg", 
                    "http://images.igdb.com/igdb/image/upload/em1y2ugcwy2myuhvb9db.jpg", 
                    "http://images.igdb.com/igdb/image/upload/usxccsncekxg0wd1v6ee.jpg", 
                    "http://images.igdb.com/igdb/image/upload/mnljdjtrh44x4snmierh.jpg"
                  ], 
                  "title": "The Witcher 3: Wild Hunt"
                }
              ], 
              "gender": "Female", 
              "image_url": "http://images.igdb.com/igdb/image/upload/b2f4qo7yzuzr1ly0swci.jpg", 
              "name": "Ciri", 
              "platforms": [], 
              "score": null, 
              "species": "Human", 
              "summary": null
            }, 
            {
              "character_id": 6, 
              "games": [
                {
                  "description": "The Witcher: Wild Hunt is a story-driven, next-generation open world role-playing game set in a visually stunning fantasy universe full of meaningful choices and impactful consequences. In The Witcher you play as the professional monster hunter, Geralt of Rivia, tasked with finding a child of prophecy in a vast open world rich with merchant cities, viking pirate islands, dangerous mountain passes, and forgotten caverns to explore.", 
                  "game_id": 56, 
                  "image_url": "http://images.igdb.com/igdb/image/upload/tri1c6vbydeosoqajwt1.jpg", 
                  "rating": 95.2755861584253, 
                  "related_game_ids": [
                    1, 
                    13, 
                    9
                  ], 
                  "release_date": "2015-05-19", 
                  "screenshot_urls": [
                    "http://images.igdb.com/igdb/image/upload/z5t0yuhyiiui1ickwhgj.jpg", 
                    "http://images.igdb.com/igdb/image/upload/farvemmmxav0bgt6wx7t.jpg", 
                    "http://images.igdb.com/igdb/image/upload/em1y2ugcwy2myuhvb9db.jpg", 
                    "http://images.igdb.com/igdb/image/upload/usxccsncekxg0wd1v6ee.jpg", 
                    "http://images.igdb.com/igdb/image/upload/mnljdjtrh44x4snmierh.jpg"
                  ], 
                  "title": "The Witcher 3: Wild Hunt"
                }
              ], 
              "gender": null, 
              "image_url": null, 
              "name": "Keira", 
              "platforms": [], 
              "score": null, 
              "species": null, 
              "summary": null
            }, 
            {
              "character_id": 7, 
              "games": [
                {
                  "description": "The Witcher: Wild Hunt is a story-driven, next-generation open world role-playing game set in a visually stunning fantasy universe full of meaningful choices and impactful consequences. In The Witcher you play as the professional monster hunter, Geralt of Rivia, tasked with finding a child of prophecy in a vast open world rich with merchant cities, viking pirate islands, dangerous mountain passes, and forgotten caverns to explore.", 
                  "game_id": 56, 
                  "image_url": "http://images.igdb.com/igdb/image/upload/tri1c6vbydeosoqajwt1.jpg", 
                  "rating": 95.2755861584253, 
                  "related_game_ids": [
                    1, 
                    13, 
                    9
                  ], 
                  "release_date": "2015-05-19", 
                  "screenshot_urls": [
                    "http://images.igdb.com/igdb/image/upload/z5t0yuhyiiui1ickwhgj.jpg", 
                    "http://images.igdb.com/igdb/image/upload/farvemmmxav0bgt6wx7t.jpg", 
                    "http://images.igdb.com/igdb/image/upload/em1y2ugcwy2myuhvb9db.jpg", 
                    "http://images.igdb.com/igdb/image/upload/usxccsncekxg0wd1v6ee.jpg", 
                    "http://images.igdb.com/igdb/image/upload/mnljdjtrh44x4snmierh.jpg"
                  ], 
                  "title": "The Witcher 3: Wild Hunt"
                }
              ], 
              "gender": null, 
              "image_url": null, 
              "name": "Dijkstra", 
              "platforms": [], 
              "score": null, 
              "species": null, 
              "summary": null
            }, 
            {
              "character_id": 8, 
              "games": [
                {
                  "description": "The Witcher: Wild Hunt is a story-driven, next-generation open world role-playing game set in a visually stunning fantasy universe full of meaningful choices and impactful consequences. In The Witcher you play as the professional monster hunter, Geralt of Rivia, tasked with finding a child of prophecy in a vast open world rich with merchant cities, viking pirate islands, dangerous mountain passes, and forgotten caverns to explore.", 
                  "game_id": 56, 
                  "image_url": "http://images.igdb.com/igdb/image/upload/tri1c6vbydeosoqajwt1.jpg", 
                  "rating": 95.2755861584253, 
                  "related_game_ids": [
                    1, 
                    13, 
                    9
                  ], 
                  "release_date": "2015-05-19", 
                  "screenshot_urls": [
                    "http://images.igdb.com/igdb/image/upload/z5t0yuhyiiui1ickwhgj.jpg", 
                    "http://images.igdb.com/igdb/image/upload/farvemmmxav0bgt6wx7t.jpg", 
                    "http://images.igdb.com/igdb/image/upload/em1y2ugcwy2myuhvb9db.jpg", 
                    "http://images.igdb.com/igdb/image/upload/usxccsncekxg0wd1v6ee.jpg", 
                    "http://images.igdb.com/igdb/image/upload/mnljdjtrh44x4snmierh.jpg"
                  ], 
                  "title": "The Witcher 3: Wild Hunt"
                }
              ], 
              "gender": null, 
              "image_url": null, 
              "name": "Cerys An Craite", 
              "platforms": [], 
              "score": null, 
              "species": null, 
              "summary": null
            }
          ], 
          "page": 1, 
          "total_pages": 153
        }

## Characters [/characters/9]

### Get Character [GET]

+ Response 200 (application/json)

        {
          "character_id": 9, 
          "games": [
            {
              "description": "The Witcher: Wild Hunt is a story-driven, next-generation open world role-playing game set in a visually stunning fantasy universe full of meaningful choices and impactful consequences. In The Witcher you play as the professional monster hunter, Geralt of Rivia, tasked with finding a child of prophecy in a vast open world rich with merchant cities, viking pirate islands, dangerous mountain passes, and forgotten caverns to explore.", 
              "game_id": 56, 
              "image_url": "http://images.igdb.com/igdb/image/upload/tri1c6vbydeosoqajwt1.jpg", 
              "rating": 95.2755861584253, 
              "related_game_ids": [
                1, 
                13, 
                9
              ], 
              "release_date": "2015-05-19", 
              "screenshot_urls": [
                "http://images.igdb.com/igdb/image/upload/z5t0yuhyiiui1ickwhgj.jpg", 
                "http://images.igdb.com/igdb/image/upload/farvemmmxav0bgt6wx7t.jpg", 
                "http://images.igdb.com/igdb/image/upload/em1y2ugcwy2myuhvb9db.jpg", 
                "http://images.igdb.com/igdb/image/upload/usxccsncekxg0wd1v6ee.jpg", 
                "http://images.igdb.com/igdb/image/upload/mnljdjtrh44x4snmierh.jpg"
              ], 
              "title": "The Witcher 3: Wild Hunt"
            }
          ], 
          "gender": null, 
          "image_url": null, 
          "name": "Hjalmar An Craite", 
          "platforms": [], 
          "score": null, 
          "species": null, 
          "summary": null
        }

## Platforms Collection [/platform]

### List Platforms [GET]

+ Response 200 (application/json)

        {
          "num_results": 136, 
          "objects": [
            {
              "characters": [], 
              "description": "Linux is a free and open-source (FOSS/FLOSS) Operating System. In a more precise and complex definition, Linux is an open-source OS kernel on which a large variety of Operating Systems (known as Linux distributions) are built.", 
              "developers": [], 
              "games": [
                {
                  "description": "In This War Of Mine you do not play as an elite soldier, rather a group of civilians trying to survive in a besieged city; struggling with lack of food, medicine and constant danger from snipers and hostile scavengers. The game provides an experience of war seen from an entirely new angle. \n\nThe pace of This War of Mine is imposed by the day and night cycle. During the day snipers outside stop you from leaving your refuge, so you need to focus on maintaining your hideout: crafting, trading and taking care of your survivors. At night, take one of your civilians on a mission to scavenge through a set of unique locations for items that will help you stay alive. \n\nMake life-and-death decisions driven by your conscience. Try to protect everybody from your shelter or sacrifice some of them for longer-term survival. During war, there are no good or bad decisions; there is only survival. The sooner you realize that, the better.", 
                  "game_id": 854, 
                  "image_url": "http://images.igdb.com/igdb/image/upload/eqhdv56ikt4cn7hdhgtb.jpg", 
                  "rating": 81.0688272651216, 
                  "related_game_ids": [
                    55, 
                    30, 
                    43
                  ], 
                  "release_date": "2014-11-14", 
                  "screenshot_urls": [
                    "http://images.igdb.com/igdb/image/upload/gyicccdkbhsivub4vsw8.jpg", 
                    "http://images.igdb.com/igdb/image/upload/avrls2nrttjlpdixv74q.jpg", 
                    "http://images.igdb.com/igdb/image/upload/hwqbhnldywm1bbbtdl7t.jpg", 
                    "http://images.igdb.com/igdb/image/upload/ms0gzfdqkzxc5ywaxwrg.jpg", 
                    "http://images.igdb.com/igdb/image/upload/sfdfkkemj3ynyjarar4w.jpg"
                  ], 
                  "title": "This War of Mine"
                }, 
                {
                  "description": "LIMBO is a black and white puzzle-platforming adventure. Play the role of a young boy traveling through an eerie and treacherous world in an attempt to discover the fate of his sister. LIMBO's design is an example of gaming as an art form. Short and sweet, doesn't overstay its welcome. Puzzles are challenging and fun, not illogical and frustrating.", 
                  "game_id": 534, 
                  "image_url": "http://images.igdb.com/igdb/image/upload/zrgtcrizlaeo8axliehq.jpg", 
                  "rating": 84.5492391681375, 
                  "related_game_ids": [
                    51, 
                    110, 
                    168
                  ], 
                  "release_date": "2010-07-21", 
                  "screenshot_urls": [
                    "http://images.igdb.com/igdb/image/upload/he1aj1roy4vug2atoteb.jpg", 
                    "http://images.igdb.com/igdb/image/upload/msi3q3nlyctlzgqcmnr7.jpg", 
                    "http://images.igdb.com/igdb/image/upload/hhxee4chub1emzk916i0.jpg", 
                    "http://images.igdb.com/igdb/image/upload/rqgzesbhdxzshq5zw8rl.jpg", 
                    "http://images.igdb.com/igdb/image/upload/nvqtcittytfhya61olbo.jpg"
                  ], 
                  "title": "Limbo"
                }, 
                {
                  "description": "A Psychic Odyssey Through the Minds of Misfits, Monsters, and Madmen. This classic action/adventure platformer from acclaimed developers Double Fine Productions follows the story of a young psychic named Razputin.", 
                  "game_id": 685, 
                  "image_url": "http://images.igdb.com/igdb/image/upload/w236pspvkmvxaak5rq5u.jpg", 
                  "rating": 87.3014582398372, 
                  "related_game_ids": [
                    24, 
                    118, 
                    145
                  ], 
                  "release_date": "2005-04-19", 
                  "screenshot_urls": [
                    "http://images.igdb.com/igdb/image/upload/yrbysuuidhavqwlilfqo.jpg", 
                    "http://images.igdb.com/igdb/image/upload/mbzmbgy7ebiyhanh1jwq.jpg", 
                    "http://images.igdb.com/igdb/image/upload/hmysnmairekocyfa1lok.jpg", 
                    "http://images.igdb.com/igdb/image/upload/xn0nr4lynzpzzuj6enqk.jpg", 
                    "http://images.igdb.com/igdb/image/upload/cfnjzobnre3tftax8jom.jpg"
                  ], 
                  "title": "Psychonauts"
                }, 
                {
                  "description": "Toribash is an innovative free-to-play online turn-based fighting game where you\u2019re able to design your own moves. \nComplete control over character's body, hundreds of game mods and bloody mess with full body dismemberment - you've never been able to annihilate your enemies like that before!", 
                  "game_id": 506, 
                  "image_url": "http://images.igdb.com/igdb/image/upload/phegau5axmw76ova6zxe.jpg", 
                  "rating": 69.906198312137, 
                  "related_game_ids": [
                    85, 
                    86, 
                    194
                  ], 
                  "release_date": "2006-03-02", 
                  "screenshot_urls": [
                    "http://images.igdb.com/igdb/image/upload/sglstb8kjzuwgzu1z4hv.jpg", 
                    "http://images.igdb.com/igdb/image/upload/z6s2jycmwlifhgb6yz2m.jpg", 
                    "http://images.igdb.com/igdb/image/upload/mslglzrbpekqlwaxkaus.jpg", 
                    "http://images.igdb.com/igdb/image/upload/bcmvvkjt5lp2equjsvei.jpg", 
                    "http://images.igdb.com/igdb/image/upload/bvtffwnmbyx97d4olbrf.jpg"
                  ], 
                  "title": "Toribash - Violence Perfected"
                }, 
                {
                  "description": "Left 4 Dead 2 is a cooperative first-person shooter video game, the sequel to Valve Corporation's Left 4 Dead. The Game builds upon cooperatively focused gameplay and Valve's proprietary Source engine, the same game engine used in the original Left 4 Dead. Set during the aftermath of an apocalyptic pandemic, Left 4 Dead 2 focuses on four new Survivors, fighting against hordes of the Infected, who develop severe psychosis and exhibit zombie-like tendencies. The Survivors must fight their way through five campaigns, interspersed with safe houses that act as checkpoints, with the goal of escape at each campaign's finale.", 
                  "game_id": 802, 
                  "image_url": "http://images.igdb.com/igdb/image/upload/xxeq6vmpcfiqvce3ffdb.jpg", 
                  "rating": 85.0333170160072, 
                  "related_game_ids": [
                    281, 
                    78, 
                    41
                  ], 
                  "release_date": "2009-11-17", 
                  "screenshot_urls": [
                    "http://images.igdb.com/igdb/image/upload/wdrlle5g5f7owsbevaix.jpg", 
                    "http://images.igdb.com/igdb/image/upload/ushaltkbqtcooswfckwh.jpg", 
                    "http://images.igdb.com/igdb/image/upload/scrnjjf7pyzrvktfifzg.jpg", 
                    "http://images.igdb.com/igdb/image/upload/rj3csep68w7cjwv5129q.jpg", 
                    "http://images.igdb.com/igdb/image/upload/bmnylmpuwm3rlzmed90q.jpg"
                  ], 
                  "title": "Left 4 Dead 2"
                }, 
                {
                  "description": "Machinarium is award-winning independent adventure game developed by the makers of Samorost and Botanicula. A little robot who\u2019s been thrown out to the scrap yard behind the city must return and confront the Black Cap Brotherhood and save his robot-girl friend.", 
                  "game_id": 453, 
                  "image_url": "http://images.igdb.com/igdb/image/upload/yawvmwcuz9lynhjhlrln.jpg", 
                  "rating": 85.0091610442983, 
                  "related_game_ids": [
                    36, 
                    149, 
                    32
                  ], 
                  "release_date": "2009-10-16", 
                  "screenshot_urls": [
                    "http://images.igdb.com/igdb/image/upload/zheicaxtx1zp1jxfdi9q.jpg", 
                    "http://images.igdb.com/igdb/image/upload/w0yqx2axhexzqvrwtk4d.jpg", 
                    "http://images.igdb.com/igdb/image/upload/mcdhqaqlpdxeaoovld26.jpg", 
                    "http://images.igdb.com/igdb/image/upload/amaaauq5wdoqriaemqob.jpg", 
                    "http://images.igdb.com/igdb/image/upload/pni529at0bsqsdca4ksq.jpg"
                  ], 
                  "title": "Machinarium"
                }, 
                {
                  "description": "Braid is played by solving physical puzzles in a standard platform game environment. The player controls the protagonist Tim as he runs, jumps, and climbs across the game's levels. Tim jumps and stomps on enemies to defeat them, and can collect keys to unlock doors or operate levers to trigger platforms. A defining game element is the player's unlimited ability to reverse time and \"rewind\" actions, even after dying. The game is divided into six worlds, which are experienced sequentially and can be entered from different rooms of Tim's house; the player can return to any world previously visited to attempt to solve puzzles they missed.", 
                  "game_id": 887, 
                  "image_url": "http://images.igdb.com/igdb/image/upload/duuhpuhde2tzhz9daco1.jpg", 
                  "rating": 86.4530389258233, 
                  "related_game_ids": [
                    54, 
                    30, 
                    77
                  ], 
                  "release_date": "2008-08-06", 
                  "screenshot_urls": [
                    "http://images.igdb.com/igdb/image/upload/hlgubb2qmioujlw2alq6.jpg", 
                    "http://images.igdb.com/igdb/image/upload/xyzfrllx4iqggitmmil1.jpg", 
                    "http://images.igdb.com/igdb/image/upload/gm2hmeizg03ohzgjlqhp.jpg", 
                    "http://images.igdb.com/igdb/image/upload/lvr4kfokntgawqvkfsqi.jpg", 
                    "http://images.igdb.com/igdb/image/upload/oqxrufwqwvaqjohlhomw.jpg"
                  ], 
                  "title": "Braid"
                }, 
                {
                  "description": "Don\u2019t Starve is an uncompromising wilderness survival game full of science and magic. \n \nYou play as Wilson, an intrepid Gentleman Scientist who has been trapped by a demon and transported to a mysterious wilderness world. Wilson must learn to exploit his environment and its inhabitants if he ever hopes to escape and find his way back home. \n \nEnter a strange and unexplored world full of strange creatures, dangers, and surprises. Gather resources to craft items and structures that match your survival style. Play your way as you unravel the mysteries of this strange land.", 
                  "game_id": 441, 
                  "image_url": "http://images.igdb.com/igdb/image/upload/jjtsots1bqxdskgq7rll.jpg", 
                  "rating": 75.843790469571, 
                  "related_game_ids": [
                    117, 
                    51, 
                    18
                  ], 
                  "release_date": "2013-04-23", 
                  "screenshot_urls": [
                    "http://images.igdb.com/igdb/image/upload/peozoxrgylqq4puy5gmi.jpg", 
                    "http://images.igdb.com/igdb/image/upload/ki5ol1lxxswatnfjldvs.jpg", 
                    "http://images.igdb.com/igdb/image/upload/yy2dwoi6cvw34w5epllo.jpg", 
                    "http://images.igdb.com/igdb/image/upload/efmnxorroo53zucfyrhg.jpg", 
                    "http://images.igdb.com/igdb/image/upload/iv6oqlgiwzv5oc2o61wn.jpg"
                  ], 
                  "title": "Don't Starve"
                }, 
                {
                  "description": "Middle-earth: Shadow of Mordor is a open world third-person action role-playing video game developed by Monolith Productions and published by Warner Bros. Interactive Entertainment, which takes place in the world of J.R.R. Tolkien's Legendarium. \n \nThe game takes place in the 60-year gap between the events of Tolkien's The Hobbit and The Lord of The Rings. It is a story of revenge, slaughter, and mystery set entirely in Mordor, the Land of Shadows. At its center is Talion, an ordinary man who loses everything, including his mortal life. \n \nThe game is set in a fully open world, and features various role-playing game elements such as experience points and skills. There are various ways the player can complete their main objective. Aside from the main storyline, there are various side quests and random events the player can complete within Mordor. \n \nThe melee system is inspired by that of the Batman Arkham series. Getting into a good fighting rhythm, using both regular attacks and counter-attacks will improve the player's combo multiplier. \n \nA unique feature of Middle-earth: Shadow of Mordor is the Nemesis system. Every enemy in the game has their own name, rank, and memory. These enemies will continue to do their own jobs and tasks even when they're off screen. If the player does not kill an enemy in an encounter, this enemy will remember the player and change their tactics and conversations based on the encounter.", 
                  "game_id": 130, 
                  "image_url": "http://images.igdb.com/igdb/image/upload/eqz9nfkztnkxtenmyltb.jpg", 
                  "rating": 83.4678585202495, 
                  "related_game_ids": [
                    1, 
                    5, 
                    32
                  ], 
                  "release_date": "2014-09-30", 
                  "screenshot_urls": [
                    "http://images.igdb.com/igdb/image/upload/q6xqaduy589inatsefrj.jpg", 
                    "http://images.igdb.com/igdb/image/upload/anyfu26e1hfmr45gkozd.jpg", 
                    "http://images.igdb.com/igdb/image/upload/gktc7tabdgnlaxectjgw.jpg", 
                    "http://images.igdb.com/igdb/image/upload/v8v20jlqyncrbfbftwrx.jpg", 
                    "http://images.igdb.com/igdb/image/upload/wgnsn9c6svcie0od4vyb.jpg"
                  ], 
                  "title": "Middle-earth: Shadow of Mordor"
                }, 
                {
                  "description": "A sci-fi FPS in which a space mercenary searches for his lost friend from the box art. \n \nThings aren't looking too good. You'll never navigate off the planet on your own. Plus, all the heavy weapons have been taken by the assault team leaving you with only a pistol. If you only could get your hands around a plasma rifle or even a shotgun you could take a few down on your way out. Whatever killed your buddies deserves a couple of pellets in the forehead. Securing your helmet, you exit the landing pod. Hopefully you can find more substantial firepower somewhere within the station. As you walk through the main entrance of the base, you hear animal-like growls echoing through the distant corridors. They know you're here. There's no turning back now.", 
                  "game_id": 521, 
                  "image_url": "http://images.igdb.com/igdb/image/upload/napawx0fxrjpfd7jvpft.jpg", 
                  "rating": 83.7428164142339, 
                  "related_game_ids": [
                    3, 
                    202, 
                    226
                  ], 
                  "release_date": "1993-12-10", 
                  "screenshot_urls": [
                    "http://images.igdb.com/igdb/image/upload/dwsqh3ov6lvhlop9nphz.jpg", 
                    "http://images.igdb.com/igdb/image/upload/fcws2bjqx7rc4bigobty.jpg", 
                    "http://images.igdb.com/igdb/image/upload/dd82q9yh3vh10oqmvun4.jpg", 
                    "http://images.igdb.com/igdb/image/upload/uolg5ypiubgnc1rtqmjx.jpg", 
                    "http://images.igdb.com/igdb/image/upload/vv0zszxgvk4dklsz53ap.jpg"
                  ], 
                  "title": "Doom"
                }, 
                {
                  "description": "Portal\u2122 is a new single player game from Valve. Set in the mysterious Aperture Science Laboratories, Portal has been called one of the most innovative new games on the horizon and will offer gamers hours of unique gameplay. The game is designed to change the way players approach, manipulate, and surmise the possibilities in a given environment; similar to how Half-Life\u00ae 2's Gravity Gun innovated new ways to leverage an object in any given situation. \nPlayers must solve physical puzzles and challenges by opening portals to maneuvering objects, and themselves, through space.", 
                  "game_id": 603, 
                  "image_url": "http://images.igdb.com/igdb/image/upload/hlsitdvwt8awh56a6nbv.jpg", 
                  "rating": 83.4879884135554, 
                  "related_game_ids": [
                    23, 
                    118, 
                    161
                  ], 
                  "release_date": "2007-10-09", 
                  "screenshot_urls": [
                    "http://images.igdb.com/igdb/image/upload/gdgj7p0vo52jpwoxtm3v.jpg", 
                    "http://images.igdb.com/igdb/image/upload/hod8sle7imoqjh1zb7nj.jpg", 
                    "http://images.igdb.com/igdb/image/upload/oycbiasvmiewjxncqlgd.jpg", 
                    "http://images.igdb.com/igdb/image/upload/co2mtfe04a5iclqoo11c.jpg", 
                    "http://images.igdb.com/igdb/image/upload/x7pzfljardlljvtqcgv4.jpg"
                  ], 
                  "title": "Portal"
                }, 
                {
                  "description": "The second instalment in the RPG saga about the Witcher, Geralt of Rivia, features a thoroughly engrossing, mature storyline defining new standards for thought-provoking, non-linear game narration. In addition to an epic story, the game features an original, brutal combat system that uniquely combines tactical elements with dynamic action. A new, modern game engine, responsible both for beautiful visuals and sophisticated game mechanics puts players in the most lively and believable world ever created in an RPG game. A captivating story, dynamic combat system, beautiful graphics, and everything else that made the original Witcher such a great game are now executed in a much more advanced and sophisticated way.", 
                  "game_id": 579, 
                  "image_url": "http://images.igdb.com/igdb/image/upload/ublei0ylckvite604cge.jpg", 
                  "rating": 87.4563269682642, 
                  "related_game_ids": [
                    33, 
                    1, 
                    24
                  ], 
                  "release_date": "2011-05-17", 
                  "screenshot_urls": [
                    "http://images.igdb.com/igdb/image/upload/fujznpait3vgks1fsf8u.jpg", 
                    "http://images.igdb.com/igdb/image/upload/auslwvtps8woqdd5t0um.jpg", 
                    "http://images.igdb.com/igdb/image/upload/qelsfsxjgnkz5zuvaat4.jpg", 
                    "http://images.igdb.com/igdb/image/upload/few5b8tm9daauwv29opk.jpg", 
                    "http://images.igdb.com/igdb/image/upload/zb5whw2xb13yavuzqhhy.jpg"
                  ], 
                  "title": "The Witcher 2: Assassins of Kings"
                }, 
                {
                  "description": "AN UNDERWATER FANTASY WORLD TO EXPLORE \n \nA massive ocean world, teeming with life and filled with ancient secrets. Join Naija, a lone underwater dweller in search of her family, as she explores the depths of Aquaria. She'll travel from hidden caves, shrouded in darkness, to beautiful, sunlit oases, all lovingly handcrafted by its two creators. \n \nNaija's story, narrated fully with voice overs, will become yours, as you join her on this magnificent adventure. \n \nMAGIC AND COMBAT AT A MOUSE-CLICK \n \nNaija has the gift of the Verse. By singing songs, she can weave this force to change the waters around her. With each song Naija learns comes new abilities. With powerful songs, Naija is able to change form, giving players many options as to how to play the game. \n \nAnd with Aquaria's intuitive mouse-only control system, it's as easy to make Naija swim gracefully through the waters as it is to have her sing, cast spells, and engage in combat with the numerous dangerous creatures that inhabit Aquaria's waters. \n \nThe Xbox 360 controller and FPS style mouse / keyboard controls are also supported. \n \n \nCREATE YOUR OWN WORLDS \n \nThe full version of Aquaria includes the level editor and modding tools which we used to develop the game. Easy to pick up and learn, you'll be able to make your own worlds, and even add your own graphics and music. The powerful Aquaria level editor allows you to test your creations while you play the game!", 
                  "game_id": 304, 
                  "image_url": "http://images.igdb.com/igdb/image/upload/qzhwzxmqw6ummvxojuij.jpg", 
                  "rating": 87.418542469842, 
                  "related_game_ids": [
                    145, 
                    63, 
                    32
                  ], 
                  "release_date": "2007-12-31", 
                  "screenshot_urls": [
                    "http://images.igdb.com/igdb/image/upload/qsepmlfl1w1rpynso3qq.jpg", 
                    "http://images.igdb.com/igdb/image/upload/rpdjlm8y1hqnknxisygg.jpg", 
                    "http://images.igdb.com/igdb/image/upload/twigua4k1ciknzymk3xd.jpg", 
                    "http://images.igdb.com/igdb/image/upload/dfeiotk3t279cforglwh.jpg", 
                    "http://images.igdb.com/igdb/image/upload/yau1acyymizmxz2ekq5m.jpg"
                  ], 
                  "title": "Aquaria"
                }, 
                {
                  "description": "'The Raven - Legacy of a Master Thief' is a thrilling crime adventure in three chapters from the creators of 'The Book of Unwritten Tales'. Full of twists and turns, it immerses you in both sides of the story, combining thrill-of-the-chase whodunit with the risk and reward of a heist story.", 
                  "game_id": 681, 
                  "image_url": "http://images.igdb.com/igdb/image/upload/mnhjip1r2acwbedf2hiz.jpg", 
                  "rating": 68.4948996075507, 
                  "related_game_ids": [
                    18, 
                    207, 
                    45
                  ], 
                  "release_date": "2013-06-27", 
                  "screenshot_urls": [
                    "http://images.igdb.com/igdb/image/upload/gymadsyf4dgculijgncy.jpg", 
                    "http://images.igdb.com/igdb/image/upload/rczz8kgj4snedvl7wuxt.jpg", 
                    "http://images.igdb.com/igdb/image/upload/xvdpltuhsupqnn2m6qv6.jpg", 
                    "http://images.igdb.com/igdb/image/upload/zun40q1gtwm6ihulbw2b.jpg", 
                    "http://images.igdb.com/igdb/image/upload/lxc2ce5dm6zmukl9djpb.jpg"
                  ], 
                  "title": "The Raven - Legacy of a Master Thief"
                }, 
                {
                  "description": "Minecraft is an open world game that has no specific goals for the player to accomplish, allowing players a large amount of freedom in choosing how to play the game however, there is an achievement system. The gameplay by default is first person, but players have the option to play in third person mode. The core gameplay revolves around breaking and placing blocks. The game world is essentially composed of rough 3D objects\u2014mainly cubes\u2014that are arranged in a fixed grid pattern and represent different materials, such as dirt, stone, various ores, water, and tree trunks. While players can move freely across the world, objects and items can only be placed at fixed locations relative to the grid. Players can gather these material blocks and place them elsewhere, thus allowing for various constructions.", 
                  "game_id": 223, 
                  "image_url": "http://images.igdb.com/igdb/image/upload/ew1zwceoeho7lipjxi1n.jpg", 
                  "rating": 82.2765085379846, 
                  "related_game_ids": [
                    124, 
                    60, 
                    22
                  ], 
                  "release_date": "2011-10-07", 
                  "screenshot_urls": [
                    "http://images.igdb.com/igdb/image/upload/xa7nhmzxiaosg7qoom9g.jpg", 
                    "http://images.igdb.com/igdb/image/upload/cic8hqeq2g9w1u6wodpm.jpg", 
                    "http://images.igdb.com/igdb/image/upload/mzw1sxpwrlfagmoqiunw.jpg"
                  ], 
                  "title": "Minecraft"
                }, 
                {
                  "description": "In FTL you experience the atmosphere of running a spaceship trying to save the galaxy. It's a dangerous mission, with every encounter presenting a unique challenge with multiple solutions. What will you do if a heavy missile barrage shuts down your shields?", 
                  "game_id": 549, 
                  "image_url": "http://images.igdb.com/igdb/image/upload/tyfkuqpyrdlpipye0opm.jpg", 
                  "rating": 86.9939954033564, 
                  "related_game_ids": [
                    86, 
                    108, 
                    17
                  ], 
                  "release_date": "2012-09-14", 
                  "screenshot_urls": [
                    "http://images.igdb.com/igdb/image/upload/gfozfxgsktpxv9hrpbnd.jpg", 
                    "http://images.igdb.com/igdb/image/upload/hdihxbyrasyj9gggirf9.jpg", 
                    "http://images.igdb.com/igdb/image/upload/b9fgk42saagzk5pt7eit.jpg", 
                    "http://images.igdb.com/igdb/image/upload/vqhup2wxtag8juxv3m4w.jpg", 
                    "http://images.igdb.com/igdb/image/upload/tmznt3rb49krfeuj47wy.jpg"
                  ], 
                  "title": "FTL: Faster Than Light"
                }, 
                {
                  "description": "Gone Home is a conceptual simulation game somewhat themed after classic adventure titles where how you interact with space around your characters determines how far you progress in the game. This title is all about exploring a modern, residential locale, and discovering the story of what happened there by investigating a deeply interactive gameworld. The development team aims to push for true simulation,both in the sense of the physics system but also in allowing the player to open any door or drawer they'd logically be able to and examine what's inside, down to small details.", 
                  "game_id": 345, 
                  "image_url": "http://images.igdb.com/igdb/image/upload/qwhxxrcxzw7inwfrfkbq.jpg", 
                  "rating": 79.7026625918923, 
                  "related_game_ids": [
                    77, 
                    36, 
                    32
                  ], 
                  "release_date": "2013-08-15", 
                  "screenshot_urls": [
                    "http://images.igdb.com/igdb/image/upload/z8fvlmguf3otr7dzfhst.jpg", 
                    "http://images.igdb.com/igdb/image/upload/zviohjggxtone3rx6f1b.jpg", 
                    "http://images.igdb.com/igdb/image/upload/vq4okgcxtc80cofw1qhf.jpg", 
                    "http://images.igdb.com/igdb/image/upload/tiobz4ny3kzkh9lo7ttk.jpg", 
                    "http://images.igdb.com/igdb/image/upload/dgqzmjcvhisaon5bz0sp.jpg"
                  ], 
                  "title": "Gone Home"
                }, 
                {
                  "description": "In a land torn asunder by incessant warfare, it is time to assemble your own band of hardened warriors and enter the fray. Lead your men into battle, expand your realm, and claim the ultimate prize: the throne of Calradia!", 
                  "game_id": 491, 
                  "image_url": "http://images.igdb.com/igdb/image/upload/fbtbbl77ijlp6jwjtu1t.jpg", 
                  "rating": 77.2532763497007, 
                  "related_game_ids": [
                    106, 
                    14, 
                    33
                  ], 
                  "release_date": "2010-03-30", 
                  "screenshot_urls": [
                    "http://images.igdb.com/igdb/image/upload/zgnxjvtzvhnf76ilu3mg.jpg", 
                    "http://images.igdb.com/igdb/image/upload/s2s4vzr0j4uojcgftlu8.jpg", 
                    "http://images.igdb.com/igdb/image/upload/r3vsr5zjfw9w4j0phyjy.jpg", 
                    "http://images.igdb.com/igdb/image/upload/kxkss4cgqptolnbvyi1b.jpg", 
                    "http://images.igdb.com/igdb/image/upload/meij7zp5607meoztbvro.jpg", 
                    "http://images.igdb.com/igdb/image/upload/px5cbebnfcefyqeiq7rp.jpg"
                  ], 
                  "title": "Mount & Blade: Warband"
                }, 
                {
                  "description": "Lisa is a quirky side-scrolling RPG set in a post-apocalyptic wasteland. Beneath the charming and funny exterior is a world full of disgust and moral destruction. Players will learn what kind of person they are by being FORCED to make choices. These choices permanently effect the game play. If you want to save a party member from death, you will have to sacrifice the strength of your character. Whether it's taking a beating for them, or chopping off limbs, or some other inhuman way. You will learn that in this world being selfish and heartless is the only way to survive...", 
                  "game_id": 978, 
                  "image_url": "http://images.igdb.com/igdb/image/upload/mfulcbadnurpyqn08q5a.jpg", 
                  "rating": 78.8526080864087, 
                  "related_game_ids": [
                    14, 
                    44, 
                    57
                  ], 
                  "release_date": "2014-12-15", 
                  "screenshot_urls": [
                    "http://images.igdb.com/igdb/image/upload/rxpwsiwwxlmj4faqzrmq.jpg", 
                    "http://images.igdb.com/igdb/image/upload/q5rfoyqd9xclcxojcjio.jpg", 
                    "http://images.igdb.com/igdb/image/upload/bf6qlwbh1dnxncky3utj.jpg", 
                    "http://images.igdb.com/igdb/image/upload/zwmqqlpccnz1hfozezfa.jpg", 
                    "http://images.igdb.com/igdb/image/upload/pkth8ant9frqslrizutu.jpg"
                  ], 
                  "title": "Lisa"
                }, 
                {
                  "description": "Shoot 'n' loot your way through a brand new adventure that rockets you onto Pandora's moon in Borderlands: The Pre-Sequel. Discover the story behind Borderlands 2\u2019s villain, Handsome Jack, and his rise to power in this brand new game in the Borderlands series. Taking place between the original Borderlands and Borderlands 2, the Pre-Sequel gives you a whole lotta new gameplay featuring the genre fusion of shooter and RPG gameplay that players can\u2019t get enough of. \n\nGet high in low gravity and launch across the moonscape to take enemies down from above using new ice and laser weapons. Catch-a-ride on the lunar landscape with new vehicles equipped with deadly weapons allowing for more levels of destructive mayhem. So grab a friend (or two, or three), strap on a rocket, and take off on a brand new Borderlands adventure", 
                  "game_id": 801, 
                  "image_url": "http://images.igdb.com/igdb/image/upload/fw3ezussyqxhfh09jwfw.jpg", 
                  "rating": 77.0246918350896, 
                  "related_game_ids": [
                    10, 
                    95, 
                    6
                  ], 
                  "release_date": "2014-10-14", 
                  "screenshot_urls": [
                    "http://images.igdb.com/igdb/image/upload/nqvvqpna2vbzxejszoyz.jpg", 
                    "http://images.igdb.com/igdb/image/upload/v3os5wukzqgogxukbe4z.jpg", 
                    "http://images.igdb.com/igdb/image/upload/h4fjlbicz4rulqbagzat.jpg", 
                    "http://images.igdb.com/igdb/image/upload/a0ooiqnuzsdcsetwqvot.jpg", 
                    "http://images.igdb.com/igdb/image/upload/kxi9xccobbqk8gmomp9h.jpg"
                  ], 
                  "title": "Borderlands: The Pre-Sequel"
                }, 
                {
                  "description": "Half-Life 2 (stylized as H\u03bbLF-LIFE\u00b2), the sequel to Half-Life, is a first-person shooter video game and part of the Half-Life series. Developed by Valve Corporation, it was initially released on November 16, 2004, following a protracted five-year, $40 million development cycle, during which a substantial part of the project was leaked and distributed on the Internet.", 
                  "game_id": 362, 
                  "image_url": "http://images.igdb.com/igdb/image/upload/mzu5qsnfl3irsevvxrts.jpg", 
                  "rating": 91.6054812902965, 
                  "related_game_ids": [
                    6, 
                    495, 
                    3
                  ], 
                  "release_date": "2004-11-16", 
                  "screenshot_urls": [
                    "http://images.igdb.com/igdb/image/upload/ga0lj5zqeqd7moyzxij9.jpg", 
                    "http://images.igdb.com/igdb/image/upload/mpphkihhk8yh9m2zaafd.jpg", 
                    "http://images.igdb.com/igdb/image/upload/nnlfbf8blflrlmuarfej.jpg", 
                    "http://images.igdb.com/igdb/image/upload/muyxb9cljgsy245fcimx.jpg", 
                    "http://images.igdb.com/igdb/image/upload/iau5t12jemoelx0xuzna.jpg"
                  ], 
                  "title": "Half-Life 2"
                }, 
                {
                  "description": "Episode One is the first in a series of games that reveal the aftermath of Half-Life 2 and launch a journey beyond City 17.", 
                  "game_id": 805, 
                  "image_url": "http://images.igdb.com/igdb/image/upload/h4d1xot9q8dbohwfvwoh.jpg", 
                  "rating": 85.2535234701912, 
                  "related_game_ids": [
                    6, 
                    3, 
                    253
                  ], 
                  "release_date": "2006-06-01", 
                  "screenshot_urls": [
                    "http://images.igdb.com/igdb/image/upload/blmazii73evq4wvkrzgx.jpg", 
                    "http://images.igdb.com/igdb/image/upload/doj4wbwj7bmqhmcvk9ss.jpg", 
                    "http://images.igdb.com/igdb/image/upload/nyujlsu0srmahlpssasb.jpg", 
                    "http://images.igdb.com/igdb/image/upload/cxvtgu8w0ewbu4ucsgqf.jpg", 
                    "http://images.igdb.com/igdb/image/upload/qapcthrq12heqm4sow4r.jpg"
                  ], 
                  "title": "Half-Life 2: Episode One"
                }, 
                {
                  "description": "The second episodic sequel to one of the most influential first-person shooters of its time, Half-Life 2.", 
                  "game_id": 942, 
                  "image_url": "http://images.igdb.com/igdb/image/upload/gt65wqyvljk0jifxvbvv.jpg", 
                  "rating": 78.5253597196105, 
                  "related_game_ids": [
                    362, 
                    6, 
                    3
                  ], 
                  "release_date": "2007-10-09", 
                  "screenshot_urls": [
                    "http://images.igdb.com/igdb/image/upload/o1sqj8kuxsjpg6lrnkih.jpg", 
                    "http://images.igdb.com/igdb/image/upload/juuqkcl4pnuvfostoesr.jpg", 
                    "http://images.igdb.com/igdb/image/upload/cunhmgl7cqjfmonhd1ig.jpg", 
                    "http://images.igdb.com/igdb/image/upload/ebhf5jfk1hjdsblezs3q.jpg", 
                    "http://images.igdb.com/igdb/image/upload/pxwyrtg7bm3q9e8mpyha.jpg"
                  ], 
                  "title": "Half-Life 2: Episode Two"
                }, 
                {
[...]
