.grid-item {
    height: auto;
    text-decoration: none;
    transition: transform .3s ease;
}
.grid-item:hover {
    text-decoration: none;
    transform: scale(1.05, 1.05);
}
.grid-item-container {
    display: flex;
    flex-direction: column;
    width: 12em;
    box-sizing: border-box;
    margin: .5em;
}
.cover-image {
    display: flex;
    flex-direction: column;
    height: 14em;
    width: 12em;
    background-color: #fff;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.cover-image:hover > .item-detail-list {
    visibility: visible;
}
.item-detail-list {
    visibility: hidden;
    background-color: rgba(0,0,0, 0.5);
    height: 100%;
    padding: .5em;
    color: #fff;
}
.item-detail {
    width: 100%;
    background-color: #fff;
    padding: .75em 0em;
}
.item-title {
    color: #333;
    text-align: center;
}
.item-detail-title {
    font-weight: 700;
}
@media only screen and (max-width:560px) {
    .grid-item-container {
        width: 19em;
    }
    .cover-image {
        width: 19em;
        height: 20em;
    }
} 