.nav-item {
    text-decoration: none;
    color: #fff;
    margin: 0em 1em;
}
.nav-item:hover {
    color: #2de5c6;
    text-decoration: none;
}
.nav-link {
    text-decoration: none;
}
.nav-link-bold {
    color: #2de5c6;
    font-weight: 700;
    font-size: 1.2rem;
}
.nav-link-bold:hover {
    color: #24b79e;
}
a {
    text-decoration: none;
}

@media only screen and (max-width:500px) {
    .nav-item {
        margin: 0em;
    }
}