<!DOCTYPE html>
<html>
<head>
	<title>gamingdb -- Bungie</title>
	<meta name=viewport content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet">
</head>
<body>
	<span>
		<nav class="navbar navbar-expand-lg sticky-top navbar-dark bg-dark justify-content-between">
			<div class="container">
				<a class="navbar-brand primary-text" href="/">gamingdb</a>

				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarNav">
					<form class="d-flex flex-row nav-input-group">
						<input class="form-control nav-input" type="text" placeholder="Search" aria-label="Search">
					    <button class="btn nav-input-button" type="submit">Search</button>
					</form>
					<div class="d-inline-flex flex-row justify-content-end w-100">
						<ul class="nav navbar-nav navbar-right">
					    	<li class="nav-item"><a class="nav-link" href="/about">About</a></li>
					        <li class="nav-item active"><a class="nav-link" href="/games">Games</a></li><!--
					     --><li class="nav-item"><a class="nav-link" href="/developers">Developers</a></li><!--
					     --><li class="nav-item"><a class="nav-link" href="/platforms">Platforms</a></li><!--
					     --><li class="nav-item"><a class="nav-link" href="/characters">Characters</a></li>
					    </ul>
					</div>

				</div>
			</div>
		</nav>
	</span>

	<div class="page-body">
		<div class="info-screen">
			<div class="side-bar">
				<img src="{{ url_for('static', filename='media/bungie.png') }}" alt="Bungie">
				<div class="info-item">
					<div class="title">Games</div>
					<a href="/game/halo-3" class="info">Halo 3</a>
				</div>
				<div class="info-item">
					<div class="title">Website</div>
					<a href="https://www.bungie.net/" class="info">https://www.bungie.net/</a>
				</div>
			</div><div class="content">
				<div class="main-title">Bungie</div>
				<hr>
				<div class="sub-title">Average Rating: <strong>--/100</strong></div>
				<div class="content-item"><strong>Platforms: </strong><a href="/game/halo-3">Xbox 360</a></div>
				<div class="summary">Bungie, Inc. is an American video game developer located in Bellevue, Washington, United States. The company was established in May 1991 as Bungie Software Products Corporation by University of Chicago undergraduate student Alex Seropian, who later brought in programmer Jason Jones after publishing Jones' game Minotaur: The Labyrinths of Crete. Originally based in Chicago, Illinois, the company concentrated primarily on Macintosh games during its early years and created two very successful video game franchises called Marathon and Myth. A West Coast offshoot produced the PC and console title Oni (now owned by Rockstar Games, a publishing subsidiary of Take-Two Interactive which at the time owned 20% of the developer).

        Microsoft acquired Bungie in 2000; the project it was working on was repurposed into a launch title for Microsoft's Xbox console, called Halo: Combat Evolved. Halo became the Xbox's "killer app", selling millions of copies and spawning a billion dollar franchise. On October 5, 2007, Bungie announced that it had split from Microsoft and become a privately held independent company, Bungie LLC (Microsoft retained ownership of the Halo franchise IP).</div>
			</div>
		</div>

	</div>
</body>
</html>
