.search-bar {
    height: 100%;
    display: flex;
    align-items: center;
}
.search-bar-input {
    height: 2.5em;
    display: inline-block;
    border: none;
    padding: .25em 0em .25em .75em;
    box-sizing: border-box;
    border-radius: 3px 0px 0px 3px;
}
.search-bar-input:focus {
    outline: none;
}
.search-bar-button {
    width: 2.5em;
    height: 2.5em;
    background-color: #dedede;
    display: inline-block;
    vertical-align: top;
    border-radius: 0px 3px 3px 0px;
    box-sizing: border-box;
}
.search-bar-button-img {
    height: 1.5em;
    margin-top: .5em;
    margin-left: .5em;
}
.search-bar-button:hover {
    cursor: pointer;
    background-color: #cdcdcd;
}