.detail-page {
    background-color: #fff;
    margin-top: 2em;
}
.inline-block {
    display: inline-block;
    box-sizing: border-box;
    vertical-align: top;
}
.sidebar {
    width: 25%;
    padding: 1em 1em 2em 0em;
}
.sidebar-img {
    background: #aaa;
    width: 100%;
}
.details {
    width: 75%;
    padding: 1.5em 0em 2em 1em;
}
.detail-title {
    font-weight: 700;
}
.detail-subtitle {
    font-weight: 150;
}
hr {
    border-top: 2px solid #2de5c6;
    margin: .1em 0em .5em 0em;
}
.detail-description {
    margin-top: 1em;
}

@media only screen and (max-width:500px) {
    .inline-block {
        display: block;
    }
    .sidebar {
        width: 100%;
    }
    .details {
        width: 100%;
        padding-left: 0em;
    }
}