<!DOCTYPE html>
<html>
<head>
	<title>gamingdb -- Master Chief</title>
	<meta name=viewport content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet">
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
</head>
<body>
	<span>
		<nav class="navbar navbar-expand-lg sticky-top navbar-dark bg-dark justify-content-between">
			<div class="container">
				<a class="navbar-brand primary-text" href="/">gamingdb</a>

				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarNav">
					<form class="d-flex flex-row nav-input-group">
						<input class="form-control nav-input" type="text" placeholder="Search" aria-label="Search">
					    <button class="btn nav-input-button" type="submit">Search</button>
					</form>
					<div class="d-inline-flex flex-row justify-content-end w-100">
						<ul class="nav navbar-nav navbar-right">
					    	<li class="nav-item"><a class="nav-link" href="/about">About</a></li>
					        <li class="nav-item"><a class="nav-link" href="/games">Games</a></li><!--
					     --><li class="nav-item"><a class="nav-link" href="/developers">Developers</a></li><!--
					     --><li class="nav-item"><a class="nav-link" href="/platforms">Platforms</a></li><!--
					     --><li class="nav-item active"><a class="nav-link" href="/characters">Characters</a></li>
					    </ul>
					</div>

				</div>
			</div>
		</nav>
	</span>

	<div class="page-body">
		<div class="info-screen">
			<div class="side-bar">
				<img src="{{ url_for('static', filename='media/halo-master-chief.jpg') }}" alt="Master Chief">
				<div class="info-item">
					<div class="title">Games</div>
					<a href="/game/halo-3" class="info">Halo 3</a>
				</div>
				<div class="info-item">
					<div class="title">Species</div>
					<div class="info">Human</div>
				</div>
			</div><div class="content">
				<div class="main-title">Master Chief</div>
				<hr>
				<div class="content-item"><strong>Platforms: </strong><a href="/platform/xbox-360">Xbox 360</a></div>
				<div class="summary">The Master Chief is the faceless supersoldier protagonist of Bungie's Halo series. He has appeared in the series' main games, Halo: Combat Evolved, Halo 2, Halo 3, Halo 4 and as an easter egg in Halo:Reach, as well as numerous comic books and novels. Bungie conceptual artist Shi Kai Wang created the Master Chief's original design. When his first version was transferred to 3D, however, the character looked almost effeminate, so his armor was bulked up and tinted green, resulting in the Master Chief seen today. He is voiced by Chicago disc jockey Steve Downes, who previously worked with Bungie composer Martin O'Donnell on the RPG Septerra Core: Legacy of the Creator. When casting started for the Chief's voice, O'Donnell thought of Downes for the role due to their previous experience together.</div>
			</div>
		</div>

	</div>
</body>
</html>
