body {
  font-family: "Lato", sans-serif !important;
  background-color: #f5f5f5 !important; }

.primary-text {
  color: #2de5c6 !important; }

.primary {
  background-color: #2de5c6; }

.nav-input-group .nav-input {
  width: 250px;
  border-radius: 0px 0px 0px 0px;
  border-color: #d3d7db;
  border-width: 1.5px;
  border-right: none;
  line-height: 1;
  padding: .25rem .75rem;
  background-color: #d3d7db; }
  .nav-input-group .nav-input:focus {
    background-color: #fff;
    border-color: #fff; }
.nav-input-group .nav-input-button {
  border-radius: 0px 0px 0px 0px;
  border-color: #2de5c6;
  background-color: #2de5c6;
  color: #fff; }
  .nav-input-group .nav-input-button:hover {
    background-color: #1bddbc;
    color: #fff; }

.row-display {
  padding: 1.25em 0em 0em; }
  .row-display .row-title {
    font-size: 2rem;
    font-weight: 400;
    cursor: pointer;
    transition: transform .5s ease;
    width: fit-content; }
    .row-display .row-title:hover {
      color: #2de5c6;
      transform: translatex(5px); }
      .row-display .row-title:hover:after {
        content: " ";
        position: relative;
        border: 3px solid #2de5c6;
        border-left: 0;
        border-bottom: 0;
        display: inline-block;
        height: 0.4em;
        width: 0.4em;
        left: 6px;
        bottom: 2px;
        transform: rotate(45deg); }
  .row-display .row-item {
    height: 12em;
    width: 9em;
    background-color: #fff;
    display: inline-block;
    margin: .5em 1em 0em 0em;
    vertical-align: top;
    cursor: pointer;
    transition: transform .3s ease; }
    .row-display .row-item:hover {
      transform: scale(1.05, 1.05);
      box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.3); }
    .row-display .row-item .row-item-body {
      width: inherit;
      height: inherit;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #000;
      font-weight: 700; }
      .row-display .row-item .row-item-body h1 {
        font-size: .75em; }

.team-intro {
  margin-top: 1em;
  margin-bottom: 1em; }
  .team-intro .team-name {
    font-weight: 700;
    font-size: 2rem;
    color: #2de5c6; }
  .team-intro .description {
    font-size: 1rem;
    padding-left: .25em; }

.about-card {
  box-sizing: border-box;
  background-color: #fff;
  padding: 1em;
  display: inline-block;
  transition: transform .5s ease;
  margin: 1em 0em;
  color: #000;
  text-decoration-color: #000; }
  .about-card:hover {
    transform: scale(1.05, 1.05);
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.3);
    color: #000; }
  .about-card .about-img {
    display: inline-block;
    width: 40%;
    vertical-align: top; }
    .about-card .about-img img {
      width: 100%; }
  .about-card .about-content {
    display: inline-block;
    width: 55%;
    padding-left: .5em; }
    .about-card .about-content .name {
      font-weight: 700;
      font-size: 1.4rem;
      margin-bottom: .25em; }
    .about-card .about-content .about-content-item {
      margin-bottom: .15em; }
      .about-card .about-content .about-content-item.description {
        margin-bottom: .25em;
        font-size: 1rem; }
      .about-card .about-content .about-content-item .title {
        display: inline-block;
        font-weight: 700; }
      .about-card .about-content .about-content-item .detail {
        display: inline-block; }

.grid-intro {
  margin-top: 1em;
  margin-bottom: 1em; }
  .grid-intro .grid-name {
    font-weight: 700;
    font-size: 2rem;
    color: #2de5c6; }
  .grid-intro .description {
    font-size: 1rem;
    padding-left: .25em; }

.grid-item {
  height: 12em;
  width: 9em;
  background-color: #fff;
  vertical-align: top;
  cursor: pointer;
  transition: transform .3s ease;
  background: url(url) no-repeat center;
  background-size: contain; }
  .grid-item:hover {
    transform: scale(1.05, 1.05);
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.3); }
  .grid-item .row-item-body {
    width: inherit;
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000;
    font-weight: 700; }
    .grid-item .row-item-body h1 {
      font-size: .75em; }

.footer {
  width: 100%;
  margin-top: 4em;
  min-height: 5em;
  text-align: center;
  background-color: #2de5c6;
  display: flex;
  justify-content: center;
  align-items: center; }
  .footer .link {
    font-weight: 700;
    font-size: 1em;
    color: #fff; }

/*# sourceMappingURL=styles.css.map */
